{% extends 'main/main.html' %}
{% load static %}
{% block content %}
<section class="content-main" id="app">
    <form method="post" onsubmit="document.getElementById('submit_button').disabled=true">
        {% csrf_token %}
        <div class="content-header">
            <div>
                <h3 class="content-title card-title">To'lov haqida</h3>
            </div>
            <div>
                <a href="{% url 'seller_payment_list' %}" class="btn btn-brand">

                    <i class="material-icons md-left-arrow"></i> Qaytish
                </a>
                <button class="btn btn-brand " id="submit_button" type="submit">
                    <i class="material-icons md-add"></i> Saqlash
                </button>
            </div>
        </div>
        <div class="card">
            <header class="card-header">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Sotuvchi qo'shish uchun ma'lumotlarni to'ldiring</h4>
                        {% if messages_error %}
                        <div class="alert alert-danger" role="alert">
                            {{messages_error}}
                        </div>
                        {% endif %}
                    </div>
                </div>


            </header>
            <div class="card-body">
                <div class="row mb-50 mt-20 order-info-wrap">

                    <div class="col-md-6">
                        <h6>Sotuvchi</h6>
                        <input type="text" name="seller" placeholder="Sotuvchi ismi" readonly
                               value="{{payment.user.first_name}} {{payment.user.last_name}} +{{payment.user.username}}"
                               class="form-control">

                        <h6>Amaliyot turi</h6>
                        <input type="text" readonly required value="{{payment.get_type_display}}" placeholder="Sotuvchi familiyasi"
                               class="form-control">

                        <h6>Holati</h6>
                        <select name="status" class="form-control">
                            <option value="1" {% if payment.status == '1' %}selected{% endif %}>Yangi</option>
                            <option value="2" {% if payment.status == '2' %}selected{% endif %}>Tasdiqlandi</option>
                            <option value="3" {% if payment.status == '3' %}selected{% endif %}>Bekor qilindi</option>
                        </select>

                    </div>
                    <div class="col-md-6">

                        <h6>Karta raqami</h6>
                        <input type="text" name="payment_card" required value="{{payment.payment_card}}" placeholder="Karta raqami"
                               class="form-control">


                        <h6>Miqdori</h6>
                        <input type="text" name="amount" required value="{{payment.amount}}" placeholder="Miqdori"
                               class="form-control">

                    </div>
                    <div class="col-md-12">
                        <h6>Izoh</h6>
                        <textarea class="form-control" name="desc">{{payment.desc}}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script type='text/javascript'>
    $("#phone_inputmask").inputmask({"mask": "+\\9\\98999999999"});

</script>

{% endblock %}
{% block header %}
        <link href="{% static '' %}css/table_custom.css" rel="stylesheet" type="text/css">

{% endblock %}