{% extends 'main/main.html' %}
{% load static %}
{% block content %}
<section class="content-main" id="app">
    <div class="content-header">
        <h4 class="content-title">Kelgan buyurtmalarga ombordan mahsulot biriktirish</h4>
        <div>




<!--            <a href="{% url 'warehouse_product_attachment_create' %}" class="btn btn-sm btn-brand">-->
            <a href="?create_new_attachment=1" onclick="return confirm('Siz rostdanham avto biriktirmoqchimisiz\n Biriktirishdan oldin olinishi kerak mahsulotlarni kirim qilganligingizga amin bo\'ling');" class="btn btn-sm btn-brand">
                <i class="material-icons md-add"></i> Yana avto biriktirish
            </a>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">



                         <div class="col-md-4 m-auto mt-10 mb-2">
                        <article class="box bg-light">
                            <h6>
                                Hold balans : {{ o.operator_data.hold }} so'm</h6>
                            <small class="text-muted d-block ">Shu oydagi yig'a yotgan daromadingiz</small>
                        </article>
                    </div>

                            <h5 class="card-title">Qidiruv</h5>
                <div class="row align-items-center">
                    <div class="col-md-8 col-12 me-auto mb-md-0 mb-3">

                        <form method="get">
                            <div class="row">
                                <div class="col-8">
                                    <input type="text" class="form-control" placeholder="id, tel, ism bo'yicha qidiruv" name="search"
                                           {% if request.GET.search %}value="{{ request.GET.search }}" {% endif %}>
                                </div>

<!--                                {% if request.GET.search %}-->
<!--                                    <div class="col-2">-->
<!--                                        <a href="{% url 'operator_management_list' %}" class="btn btn-danger"-->
<!--                                           type="submit"><i class="material-icons md-search_off"></i></a>-->
<!--                                    </div>-->
<!--                                {% endif %}-->
                                <div class="col-md-4">
                                                                    {% if request.GET.search %}

                                      <a href="{% url 'operator_management_list' %}" class=" btn btn-danger"
                                           type="submit"><i class="material-icons md-search_off"></i></a>

                                                                    {% endif %}


                                    <button class="btn btn-brand" type="submit"><i class="material-icons md-search"></i>
                                    </button>
                                </div>

                            </div>

                        </form>
                    </div>

                </div>


            <div style="overflow-x:auto;">
                <table class="table table-hover" id="dataTable">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>ID</th>
                        <th>Sana</th>
                        <th>Holat</th>
                        <th>Biriktirilgan buyurtma soni</th>
                        <th>Chop etilgan buyurtma soni</th>
                        <th>Chiqib ketmadi</th>

                    </tr>
                    </thead>
                    <tbody>

                    {% for i in page_obj %}
                    <tr>
                      <td>
                        <a href="" class="btn btn-sm btn-brand"><i class="material-icons md-print"></i></a>
                        <a href="{% url 'warehouse_product_attachment_details' i.id %}" class="btn btn-sm btn-brand"><i class="material-icons md-edit"></i></a>
                      </td>
                      <td>
                        <h6>#{{i.id}}</h6>
                      </td>
                      <td>
                        <h6>{{i.date}}</h6>
                      </td>
                      <td>
                          {% if i.status == "2" %}
                        <span class="badge badge-soft-success">Yakunlandi</span>
                          {% elif i.status == "1" %}
                                                  <span class="badge badge-soft-warning">Qadoqlanmoqda</span>
                          {% endif %}

                      </td>
                      <td>
                        <h6>{{i.total_order_count}} ta</h6>
                      </td>
                      <td>
                          {{i.total_printed_order_count}} ta
                      </td>
                      <td>
                          {{i.total_same_status}} ta
                      </td>
                    </tr>
                    {% endfor %}


<!--                    {% for o in page_obj %}-->
<!--                    <tr>-->
<!--                        <td>-->
<!--                            <a href="{% url 'operator_management_edit' o.id %}" class="btn btn-brand btn-sm">-->
<!--                                <i class="material-icons md-edit"></i> O'zgartirish</a>-->

<!--                            <a href="{% url 'operator_payment_list' o.id %}" class="btn btn-brand btn-sm">-->
<!--                                <i class="material-icons md-payment"></i> To'lov</a>-->
<!--                            <a href="{% url 'operator_management_details' o.id %}" class="btn btn-brand btn-sm">-->
<!--                                <i class="material-icons md-payment"></i> Hisobot</a>-->
<!--                        </td>-->
<!--                        <td>-->
<!--                            {{ o.first_name }} {{o.last_name}}-->
<!--                        </td>-->
<!--                        <td>-->
<!--                            +{{ o.username }}-->
<!--                        </td>-->
<!--                                                <td>-->
<!--                            {% with order_amount=o.operator_data.order_amount_today %}-->
<!--                            <span class="badge  {% if order_amount < 30 %}btn-danger{% else %}btn-brand{% endif %}">Bugun {{ order_amount }} ta kiritdi</span>-->
<!--                        {% endwith %}-->
<!--                        </td>-->
<!--                        -->
<!--                        -->
<!--                        -->
<!--                        <td>#{{ o.operator_id }}</td>-->
<!--                        <td>{{ o.payment_card }}</td>-->
<!--                        <td>-->
<!--                            {% if o.is_active == True %}-->
<!--                            <span class="material-icons md-check badge-soft-success"></span>-->
<!--                            {% else %}-->
<!--                            <span class="material-icons md-cancel badge-soft-danger"></span>-->
<!--                            {% endif %}-->
<!--                        </td>-->

<!--                    </tr>-->
<!--                    {% endfor %}-->
                    </tbody>
                </table>
            </div>



                                        <div class="row ">
 <div class="col-md-12 mr-auto mt-auto pagination justify-content-center">
                </div>
                <div class=" col-md-12 pagination justify-content-center mt-5">
                                                    <span class="step-links mr-auto ml-auto">
                                                        {% if page_obj.has_previous %}
                                                            <a href="?page=1{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" class="btn btn-sm btn-brand  "><<</a>
                                                            <a href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                                                               class="btn btn-sm btn-brand "><</a>
                                                        {% endif %}
                                                        <!--of {{ page_obj.paginator.num_pages }}.Page-->
                                                    <span class="h6 mr-10 ml-10"> {{ page_obj.number }}</span>
                                                        {% if page_obj.has_next %}
                                                            <a href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                                                               class="btn btn-sm btn-brand">></a>
                                                            <a href="?page={{ page_obj.paginator.num_pages }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                                                               class="btn btn-sm btn-brand ">>></a>
                                                        {% endif %}
                                                    </span>

                </div>
                                        <h6 class="text-center mt-2 text-muted">Jami sahifa soni : {{ page_obj.paginator.num_pages }} ta</h6>

            </div>
        </div>
    </div>
</section>
{% endblock %}