{% extends 'main/main.html' %}
{% load static %}
{% block content %}
<section class="content-main" id="app">
    <form method="post" onsubmit="document.getElementById('submit_button').disabled=true">
        {% csrf_token %}
        <div class="content-header">
            <div>
                <h4 class="content-title card-title">Yangi haydovchi qo'shish</h4>
            </div>
            <div>
                <a href="{% url 'driver_list' %}" class="btn btn-brand">

                    <i class="material-icons md-left-arrow"></i> Qaytish
                </a>
                <button class="btn btn-brand " id="submit_button" type="submit">
                    <i class="material-icons md-add"></i> Saqlash
                </button>
            </div>
        </div>
        <div class="card">
            <header class="card-header">
                <h4>Haydovchi qo'shish uchun ma'lumotlarni to'ldiring</h4>
                {% if messages_error %}
                <div class="alert alert-danger" role="alert">
                    {{messages_error}}
                </div>
                {% endif %}
            </header>
            <div class="card-body">
                <div class="row mb-50 mt-20 order-info-wrap">
                    <div class="col-md-6">
                        <label>Haydovchi ismi</label>
                        <input type="text" name="first_name" placeholder="Haydovchi ismi" {% if r %}value="{{r.first_name}}" {% endif %} required
                               class="form-control">

                        <label>Haydovchi familiyasi</label>
                        <input type="text" name="last_name" {% if r %}value="{{r.last_name}}" {% endif %} placeholder="Haydovchi familiyasi"
                               class="form-control">
                        <label>Parol</label>
                        <input type="text" name="password_text" {% if r %}value="{{r.password_text}}" {% endif %} placeholder="Parol"
                               class="form-control">

                        <label class="text-sm">Haydovchi aktivmi</label>
                        <input type="checkbox" name="is_active" class="form-check" {% if r %}{% if r.is_active == "on" %} checked{% endif %}{% endif %}>



                        <label>Haydovchiga tovar berish necha kunda qulflanishi</label>
                        <input type="number" class="form-control" name="driver_sales_delay_limit_in_days" required value="{{r.driver_sales_delay_limit_in_days}}">


                    </div>
                    <div class="col-md-6">

                        <label>Haydovchi telefon raqami</label>
                        
                        {% if r %}
                        <input type="text" name="phone" {% if r %}value="{{r.phone}}" {% endif %}
                               class="form-control" placeholder="Haydovchi telefon raqami">

                        {% else %}
                        <input type="text" name="phone" id="phone_inputmask"
                               class="js-phone-input form-control" placeholder="Haydovchi telefon raqami">
                        
                        {% endif %}

                            <label>Viloyat tanlang</label>
                            <select class="form-control" required name="region">
                                {% for ra in region %}
                                <option value="{{ ra.id }}"  {% if r %}{% if r.region == ra.id %}selected {% endif %}{% endif %}>{{ ra.name }}</option>
                                {% endfor %}
                            </select>
                            <label>Tumanini tanlang</label>
                            <select class="form-control" required name="district">
                                {% for d in district %}
                                <option value="{{ d.id }}" data-parent="{{ d.region_id }}">{{ d.name }}</option>
                                {% endfor %}
                            </select>

                        <label>Haydovchi uchun maxsus beriladimi: </label> <br>
<input type="checkbox" name="special_fee" {% if r %}{% if r.special_fee == "on" %} checked{% endif %}{% endif %}>
                        <div id="text">

                        <label>Mxsus daromad beriladigan bo'lsa miqdorini kiriting </label>
                        <input type="number" class="form-control" name="special_fee_amount"  {% if r %}value="{{r.special_fee_amount}}" {% endif %}>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script type='text/javascript'>
    $("#phone_inputmask").inputmask({"mask": "+\\9\\98999999999"});

    $(function () {
        var $selectCity = $("select[name='region']");
        var $regionSelect = $("select[name='district']");
        var cityValue = $selectCity.val();
        $regionSelect.val("");
        $regionSelect.find(`option[data-parent!=${cityValue}]`).hide();
        $selectCity.on("change", function (e) {
            var value = e.target.value;
            $regionSelect.val("");
            $regionSelect.find(`option`).hide(); // hide all
            $regionSelect.find(`option[data-parent=${value}]`).show();

        });
    });

    function myFunction() {
  var checkBox = document.getElementById("myCheck");
  var text = document.getElementById("text");
  if (checkBox.checked == true){
    text.style.display = "block";
  } else {
     text.style.display = "none";
  }
}
</script>

{% endblock %}
{% block header %}
<script type='text/javascript' src='{% static "js/jquery-3.6.0.min.js" %}'></script>
<script type='text/javascript' src='{% static "js/jquery.inputmask.bundle.js" %}'></script>
{% endblock %}
{% block footer %}
{% endblock %}