{% if perms.admin.driver_about %}
<a class="nav-link mt-1 {% if u == "driver_about" %}active{% endif %}" style="border:1px solid #fff7f733;border-radius:10px;" {% if perms.admin.driver_about %}href="{% url 'driver_about' d.id %}"{% endif %}><i class="material-icons md-info" style="vertical-align:sub;font-size:19px;"></i><h6 class="d-inline"> Haydovchi haqida</h6></a>
{% endif %}
{% if perms.admin.driver_main_report %}
<a class="nav-link mt-1 {% if u == "driver_main_report" %}active{% endif %}" style="border:1px solid #fff7f733;border-radius:10px;" {% if perms.admin.driver_main_report %}href="{% url 'driver_main_report' d.id %}"{% endif %}><i class="material-icons md-calculate" style="vertical-align:sub;font-size:19px;"></i><h6 class="d-inline"> Hisobot</h6></a>
{% endif %}
{% if perms.admin.driver_payment_list %}
<a class="nav-link mt-1 {% if u == "driver_payment_list" or u == "driver_payment_create" %}active{% endif %}" style="border:1px solid #fff7f733;border-radius:10px;" {% if perms.admin.driver_payment_list %}href="{% url 'driver_payment_list' d.id %}"{% endif %}><i class="material-icons md-payments" style="vertical-align:sub;font-size:19px;"></i>
<h6 class="d-inline"> To'lovlari</h6></a>
{% endif %}
{% if perms.admin.driver_order_history %}
<a class="nav-link mt-1 {% if u == "driver_order_history" %}active{% endif %}" style="border:1px solid #fff7f733;border-radius:10px;" {% if perms.admin.driver_order_history %}href="{% url 'driver_order_history' d.id %}"{% endif %}><i class="material-icons md-history" style="vertical-align:sub;font-size:19px;"></i> <h6 class="d-inline">Buyurtmalari</h6></a>
{% endif %}

<hr>
