{% extends 'main/main.html' %}
{% load static %}
{% block title %}
Haydovchilar ro'yxati
{% endblock %}
{% load custom_filters %}

{% block content %}
<section class="content-main" id="app">
    <div class="content-header">
        <h2 class="content-title">Haydovchilar ro'yxati</h2>
        <div>
            {% if perms.admin.driver_date_by_statistic %}
                        <a href="{% url 'driver_date_by_statistic' %}" class="btn btn-brand btn-sm"> Sana bo'yicha statistika</a>
            {% endif %}
            {% if perms.admin.driver_create %}
            <a href="{% url 'driver_create' %}" class="btn btn-brand btn-sm"><i class="material-icons md-add"></i> Yangi haydovchi qo'shish</a>
            {% endif %}
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table" id="dataTable">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Haydovchi</th>
                        <th>Maxsus daromadi</th>
                        <th>Kechiktirish chegarasi</th>
                        <th>Viloyati</th>
                        <th>Aktivmi</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for d in driver %}
                    <tr>
                        <td>
                            {% if perms.admin.driver_about %}
                            <a href="{% url 'driver_about' d.id %}" class="btn btn-success btn-sm"><i class="material-icons md-edit"></i></a>
                            {% endif %}
                        </td>
                        <td>
                            <h6>
                            {{ d.first_name }} {{ d.last_name }}
                            <br>
                            +{{ d.username }}
                                </h6>
                        </td>
                        <td>
                            <h6>
                            {{ d.special_fee_amount|format_money }} uzs
                            </h6>
                        </td>
                        <td>{{ d.driver_sales_delay_limit_in_days }} kun

                        {% if d.driver_data.delayed_order_count > 0 %}
                            <br>
                            <span class="badge badge-danger"><i class="fas fa-lock"></i> Tovar berish qulflandi</span>
                            {% else %}
                            <span class="badge badge-success"><i class="fas fa-unlock"></i> Tovar berish mumkun</span>
                        {% endif %}
                        </td>
                        <td>{{ d.region.name }}</td>
                         <td>
                            {% if d.is_active == True %}
                            <span class="material-icons md-check badge-soft-success"></span>
                            {% else %}
                            <span class="material-icons md-cancel badge-soft-danger"></span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block header %}
{% include 'table/head.html' %}
        <link href="{% static '' %}css/table_custom.css" rel="stylesheet" type="text/css">

{% endblock %}
{% block footer %}
    <script src="{% static '' %}js/jquery.min.js"></script>
{% include 'table/footer.html' %}

<script>
        var table = $('#dataTable').DataTable({
            paging: true,
            pageLength: 100,
            ordering: false,
            autoWidth: true,
            responsive: true,
            buttons: [
                {
                    extend: 'searchPanes', className: 'btn btn-success btn-sm glyphicon glyphicon-list-alt'
                }, {
                    extend: 'excel', className: 'btn btn-success btn-sm glyphicon glyphicon-list-alt'
                }, {
                    extend: 'pdf', className: 'btn btn-success btn-sm glyphicon glyphicon-list-alt'
                },
            ],
            dom: 'Bfrtip',
            language: {
                lengthMenu: "Sahifada _MENU_ ta ma'lumot ko'rsat",
                zeroRecords: "Xech narsa topilmadi uzr!",
                info: "<span class='text-sm'>_PAGE_ саҳифа, <br> жами _PAGES_ та саҳифа</span>",
                infoEmpty: "Ma'lumotlar mavjud emas",
                infoFiltered: "(_MAX_ ta ma'lumot filterlangan)",
                search: "Qidiruv",
                oPaginate: {
                    sNext: ' <button class="btn btn-sm" style="color: black"><i class="fa fa-forward"> > </i></button> ',
                    sPrevious: ' <button class="btn btn-sm" style="color: black"><i class="fa fa-backward"> < </i></button> ',
                    sFirst: ' <button class="btn btn-sm" style="color: black"><i class="fa fa-step-backward"> > </i></button> ',
                    sLast: ' <button class="btn btn-sm" style="color: black"><i class="fa fa-step-forward"> << </i></button> '
                },
                searchPanes: {
                    clearMessage: 'Bekor qilish',
                    collapse: {0: 'Fliter', _: 'Filter (%d)'}
                }
            }
        });

</script>

{% endblock %}