{% extends 'driver_app/main/main.html' %}
{% load static %}
{% block content %}
    <section class="content-main" id="app" >
        <div class="content-header">
            <div>
                <h3 class="content-title card-title">Buyurtmalaringiz</h3>
                <p>Yetkazilmoqda : {{ request.user.order_status.being_delivered }} ta</p>
                <p>Qayta qo'ng'iroq : {{ request.user.order_status.call_back }} ta</p>
                <p>Jami : {{ count }} ta</p>
            </div>
        </div>
        <header class="card-header">
            <div class="row gx-3">
                <div class="col-lg-4 col-md-6 me-auto">
                    <div class="results">
                        <div class="row">
                            <div class="col-10" style="padding-right:0px ;">
                        <input type="text" placeholder="Qidiruv.." style="border: 1px solid #adacac !important;" {% if query %}value="{{query}}"{% endif %}
                               class="form-control" name="query" v-model="search" @blur="toggle = false" @focus="toggle = true">
                            </div>
                            <div class="col-2" style="padding:0px !important;">
                                <button class="btn btn-brand" :disabled="search.length===0" @click="search='' " type="button"><i class="material-icons md-clear"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 me-auto">
                    <small>Holat bo'yicha filter</small> <br>
                    <a href="{% url 'driver_profile_order_list_filter' 3 %}" >
                        <span class="badge  text-white" {% if status == 3 %}style="background-color: rgb(0 181 23)"{% else %}style="background-color: rgb(0 123 233 / 63%)"{% endif %}>Yetkazilmoqda</span>
                    </a>
                    <a href="{% url 'driver_profile_order_list_filter' 6 %}">
                        <span class="badge  text-white" {% if status == 6 %}style="background-color: rgb(0 181 23)"{% else %}style="background-color: rgb(0 123 233 / 63%)"{% endif %}>Qayta qo'ng'iroq</span>
                    </a>

                    <a href="{% url 'driver_profile_order_list_filter' 5 %}">
                        <span class="badge  text-white" {% if status == 5 %}style="background-color: rgb(0 181 23)"{% else %}style="background-color: rgb(0 123 233 / 63%)"{% endif %}>Bekor qilindi</span>
                    </a>
                    <a href="{% url 'driver_profile_order_list_filter' 4 %}">
                        <span class="badge  text-white" {% if status == 4 %}style="background-color: rgb(0 181 23)"{% else %}style="background-color: rgb(0 123 233 / 63%)"{% endif %}>Sotildi</span>
                    </a>
                    <!--<a href="{% url 'driver_profile_order_list' %}" >-->
                    <!--    <span class="badge  text-white" {% if status == 0 %}style="background-color: rgb(0 181 23)"{% else %}style="background-color: rgb(0 123 233 / 63%)"{% endif %}>Hammasi</span>-->
                    <!--</a>-->
                </div>
            </div>
        </header>


<!--        seach result-->
        <div v-if="search.length !==0">
            <h6 class="text-center mt-2 mb-2"><i class="material-icons md-search"></i> Qidiruv natijalari [[SearchResult.length]] ta topildi</h6>
             <div class="card " style="border: 1px solid #adacac !important;" v-for="o in SearchResult" id="infinite">
                <div class="card-body" style="padding: 1.0rem 1.0rem 0.4rem 1.0rem  !important;">
                    <div class="row   order-info-wrap">
                        <div class="col-md-4">
                            <div class="text">
                                <h4 style="display:inline;">[[ o.driver_fee ]] so'm sssssss</h4>

                                  <div v-if="IsStatusChange(o.id) == 0" style="display: inline;">
                                    <span v-if="o.status==5" class="badge badge-soft-danger bage-sm text-sm f-right">[[o.status_name]]</span>
                                    <span v-else class="badge badge-soft-success bage-sm text-sm f-right">[[o.status_name]]</span>
                                  </div>
                                  <div style="display: inline;" v-else>
                                    <span  class="badge badge-soft-success bage-sm text-sm f-right">[[IsStatusChange(o.id).name]]</span>
                                  </div>

                                <br>
                                    <span class="text-sm badge badge-soft-success" v-if="o.driver_is_bonus===1 && o.bonus != 0">Bugun yetib borsa : +[[o.bonus]] so'm</span>
                                <hr>


                          <span class="badge badge-soft-danger mb-20" v-show="o.is_delivered_date_over ===1 && o.status != 4 && o.status != 5">
                                <i class="material-icons md-warning" style="vertical-align: unset;font-size:15px"></i>
                              Topshirish vaqti o'tib ketti tezroq topshiring</span>
                            {% if o.is_there_previous_order %}
                          <span class="badge badge-soft-info mb-20 text-white">
                                <i class="material-icons md-warning" style="vertical-align: unset;font-size:15px"></i> #{{o.is_there_previous_order.id}} -Shu buyurtmaning mahsulotini o'rniga belgilandi</span>
                            {% endif %}
                                <h5>
                                <span class="text-sm f-right">#[[o.id]] </span>

                                    <i class="material-icons md-perm_identity"
                                       style=" font-size:17px; vertical-align: text-bottom;"></i> Mijoz ismi : [[ o.customer_name ]]<br>
                                     <i class="material-icons md-phone"
                                       style=" font-size:17px; vertical-align: text-bottom;"></i> Mijoz tel : <a  :href="`tel:${o.customer_phone}`">[[ o.customer_phone ]] <br></a>


                                    <span v-if="o.customer_phone2">
                                     <i class="material-icons md-phone"
                                       style=" font-size:17px; vertical-align: text-bottom;"></i>    Mijoz tel2 :<a :href="`tel:${o.customer_phone2}`">[[ o.customer_phone2 ]] </a><br></span>

                                    <i class="material-icons md-place"
                                       style=" font-size:17px; vertical-align: text-bottom;"></i> Manzil : [[ o.customer_district ]]. <br>
                                   <i class="fas fa-comment"
                                       style=" font-size:17px; vertical-align: text-bottom;"></i> Izoh : [[ o.customer_street ]]. <br>
                                    <span v-if="o.operator_note">
                                         <i class="fas fa-headphones"
                                       style=" font-size:17px; vertical-align: text-bottom;"></i> Operator izohi :[[ o.operator_note ]] <br></span>
                                         <i class="fas fa-clock"
                                       style=" font-size:17px; vertical-align: text-bottom;"></i> Buyurtma sanasi : [[o.order_date ]].<br>
                                         <i class="fas fa-clock"
                                       style=" font-size:17px; vertical-align: text-bottom;"></i> Topshirish sanasi : [[ o.delivered_date ]].
                                    <br>




                                </h5>
                              <small class="mt-3">Mahsulot</small>
                                        <table style="width:100%;">
                                          <thead class="text-center">

                                          <tr class="text-center">
                                            <th class="text-center">Nomi</th>
                                            <th class="text-center">Soni</th>
                                            <th class="text-center">Narxi</th>
                                          </tr>
                                          </thead>
                                              <tr v-for="p in o.products">
                                            <td>[[p.product__name]]</td>
                                            <td style="white-space: nowrap">[[p.ordered_amount]] ta</td>
                                            <td>[[p.price]] so'm</td>
                                          </tr>
                                          <thead>
                                              <tr>
                                            <th>Jami</th>
                                            <th>[[o.order_products_total_ordered_amount]] ta</th>
                                            <th>[[o.order_products_total_price]] so'm</th>
                                          </tr>
                                          </thead>

                                        </table>


                                             <div v-if="o.defective_product_order !== 'false' && o.defective_product_order_products !== 'false'">
                                <hr>
                            <div class="mt-3 p-1" style="border: 1px solid red; border-radius:10px;">

                              <h5 class="mt-3">Nosoz mahsulotlar</h5>
                              <small>Mijoz qo'lidagi qaytarib olishingiz kerak bo'lgan nosoz masulotlar  </small>
                                        <table style="width:100%;">
                                          <thead class="text-center">

                                          <tr class="text-center">
                                            <th class="text-center">Nomi</th>
                                            <th class="text-center">Soni</th>
                                          </tr>
                                          </thead>

                                              <tr v-for="p in o.defective_product_order_products">
                                            <td>[[p.name]]</td>
                                            <td style="white-space: nowrap">[[p.amount]] ta</td>
                                          </tr>
                                        </table>
                            </div>
                                </div>
                                    <small>Operator : +
                                        <a href="tel:${o.operator}">[[o.operator]]</a>
                                        </small>
                            </div>
                        </div>
                    </div>
                </div>

                <header class="card-header bg-info-light" style="padding: 0.6rem !important;">
                    <form method="post" onsubmit="document.getElementById('#button_submit').disabled=true">
                        <input type="hidden" name="id" value="{{o.id}}">
                        {% csrf_token %}
                        <div class="row align-items-center">
                            <div class="col-lg-12 col-md-12 me-auto text-md-end" >

                                <div style="display: inline;" v-if="IsStatusChange(o.id) == 0 && o.status != 2 && o.status != 3">

                                <button type="button" id="button_submit_cancel1" @click="CancelledOrder(o.id, o.status)" class="btn  btn-danger" style="padding-left: 16px; padding-right: 18px">
                                              <i class="material-icons md-cancel"></i>
                                  </button>

                                  <button type="button" id="button_submit_call_back" @click="CallBackOrder(o.id, o.status)" class="btn text-white btn-info" style="background-color:#00abcd;padding-left: 16px; padding-right: 18px">
                                              <span class="material-icons md-history  text-white"></span>
                                  </button>


                      <button type="button"  style="padding-left: 16px; padding-right: 18px" @click="DeliveredOrder(o.id, o.status)" class=" btn btn-brand"><i
                              class="material-icons md-check"></i></button>
                                </div>

                                <a type="submit" href="tel: {{o.customer_phone}}" style="padding-left: 18px; padding-right: 18px"  class=" btn btn-brand"><i
                                        class="material-icons md-call"></i></a>
                            </div>
                        </div>
                    </form>
                </header>




            </div>
        </div>





        <div v-if="search.length ===0">

                    <div class="row mt-20">
{% if count > 0 %}
                <div class="col-md-12 mr-auto mt-auto pagination justify-content-center">
                    <small >Jami sahifa soni : {{ page_obj.paginator.num_pages }} ta</small>
                </div>
                <div class="mt-10 col-md-12 pagination justify-content-center">
                                                    <span class="step-links mr-auto ml-auto">
                                                        {% if page_obj.has_previous %}
                                                            <a href="?page=1" class="btn btn-success text-white"><<</a>
                                                            <a href="?page={{ page_obj.previous_page_number }}"
                                                               class="btn btn-success text-white"><</a>
                                                        {% endif %}
                                                    <span class="h4 mr-10 ml-10"> {{ page_obj.number }}</span>
                                                        {% if page_obj.has_next %}
                                                            <a href="?page={{ page_obj.next_page_number }}"
                                                               class="btn btn-success text-white"> ></a>
                                                            <a href="?page={{ page_obj.paginator.num_pages }}"
                                                               class="btn btn-success text-white">>></a>
                                                        {% endif %}
                                                    </span>
                    <br>
                    <h1>{{ page_obj.count }}</h1>
                </div>
                        {% else %}
                        <h5 class="text-center">Buyurtma topilmadi!</h5>
                        {% endif %}
            </div>
        <br>

        {% for o in page_obj %}
            <div class="card " style="border: 1px solid #adacac !important;" id="infinite-lists">
                <div class="card-body" style="padding: 1.0rem 1.0rem 0.4rem 1.0rem  !important;">
                    <div class="row   order-info-wrap">
                        <div class="col-md-4">
                            <div class="text">
                                <h4 style="display:inline;">{{ o.driver_fee }} so'm </h4>

                                  <div v-if="IsStatusChange({{o.id}}) == 0" style="display: inline;">
                                    <span  class="badge {% if o.status == '5' %}badge-soft-danger{% else %}badge-soft-success{% endif %} bage-sm text-sm f-right">{{o.get_status_display}}</span>
                                  </div>
                                  <div style="display: inline;" v-else>
                                    <span  class="badge badge-soft-success bage-sm text-sm f-right">[[IsStatusChange({{o.id}}).name]]</span>
                                  </div>


                                    {% if o.driver_is_bonus == True and o.bonus != 0 %}
                                    <span class="text-sm badge badge-soft-success">Bugun yetib borsa : +{{o.bonus}} so'm</span>
                                    {% endif %}
                                <hr>


                            {% if o.is_delivered_date_over == True and o.status != '5' and o.status != '4' %}
                          <span class="badge badge-soft-danger mb-20">
                                <i class="material-icons md-warning" style="vertical-align: unset;font-size:15px"></i> Topshirish vaqti o'tib ketti tezroq topshiring</span>
                            {% endif %}
                            {% if o.is_there_previous_order %}
                          <span class="badge badge-soft-info mb-20 ">
                                <i class="material-icons md-warning" style="vertical-align: unset;font-size:15px"></i> #{{o.is_there_previous_order.id}} -Shu buyurtmaning mahsulotini o'rniga belgilandi</span>
                            {% endif %}
                                <h5>
                                <span class="text-sm f-right">#{{o.id}}</span>

                                    Mijoz ismi : {{ o.customer_name }}<br>
                                    Mijoz tel : <a  href="tel: {{o.customer_phone}}" style="font-family:'Arial', sans-serif;;">{{ o.customer_phone }} <br></a>
                                    {% if o.customer_phone2 %}
                                    <span>
                                        Mijoz tel2 :<a href="tel: {{o.customer_phone2}}" style="font-family:'Arial', sans-serif;;"> {{ o.customer_phone2 }} </a><br></span>
                                    {% endif %}
                                    Manzil : {{ o.customer_district }}. <br>
                                    Izoh : {{ o.customer_street }}. <br>

                                   {% if o.operator_note %}
                                    Operator izohi : {{ o.operator_note }}. <br>
                                    {% endif %}
                                    Buyurtma sanasi : {{ o.order_date }}.<br>
                                    Topshirish sanasi : {{ o.delivered_date }}.
                                    <br>
                                </h5>
                              <small class="mt-3">Mahsulot</small>
                                        <table style="width:100%;">
                                          <thead class="text-center">

                                          <tr class="text-center">
                                            <th class="text-center">Nomi</th>
                                            <th class="text-center">Soni</th>
                                            <th class="text-center">Narxi</th>
                                          </tr>
                                          </thead>
                                            {% for p in o.order_products %}
                                              <tr>
                                            <td>{{p.product.name}}</td>
                                            <td style="white-space: nowrap">{{p.amount}} ta</td>
                                            <td>{{p.price}} so'm</td>
                                          </tr>
                                            {% endfor %}
                                          <thead>
                                              <tr>
                                            <th>Jami</th>
                                            <th>{{o.order_products_total_ordered_amount}} ta</th>
                                            <th>{{o.order_products_total_price}} so'm</th>
                                          </tr>
                                          </thead>

                                        </table>


                                {% if o.defective_product_order %}
                                <hr>
                            <div class="mt-3 p-1" style="border: 1px solid red; border-radius:10px;">

                              <h5 class="mt-3">Nosoz mahsulotlar</h5>
                              <small>Mijoz qo'lidagi qaytarib olishingiz kerak bo'lgan nosoz masulotlar</small>
                                        <table style="width:100%;">
                                          <thead class="text-center">

                                          <tr class="text-center">
                                            <th class="text-center">Nomi</th>
                                            <th class="text-center">Soni</th>
                                          </tr>
                                          </thead>
                                            {% for p in o.defective_product_order_products %}
                                              <tr>
                                            <td>{{p.name}}</td>
                                            <td style="white-space: nowrap">{{p.amount}} ta</td>
                                          </tr>
                                            {% endfor %}
                                        </table>
                            </div>
                                {% endif %}

                                    <small>Operator : +
                                        <a href="tel: {{o.operator.username}}">{{o.operator.username}}</a>
                                        </small>
                            </div>
                        </div>
                    </div>
                </div>

                <header class="card-header bg-info-light" style="padding: 0.6rem !important;">
                    <form method="post" onsubmit="document.getElementById('#button_submit').disabled=true">
                        <input type="hidden" name="id" value="{{o.id}}">
                        {% csrf_token %}
                        <div class="row align-items-center">
                            <div class="col-lg-12 col-md-12 me-auto text-md-end" >

                                {% if o.status == '1' %}
                                <div style="display: inline;" v-if="IsStatusChange({{o.id}}) == 0">


                                <button type="button" id="button_submit_cancel" @click="CancelledOrder({{o.id}}, {{o.status}})" class="btn  btn-danger" style="padding-left: 16px; padding-right: 18px">
                                  <i class="material-icons md-cancel"></i>
                                  </button>

                      <button type="button" id="button_submit_call_back text-white" @click="CallBackOrder({{o.id}}, {{o.status}})" class="btn  btn-info" style="background-color:#00abcd;padding-left: 16px; padding-right: 18px">
                                  <span class="material-icons md-history  text-white"></span>
                      </button>

                      <button type="button" id="button_submit"  style="padding-left: 16px; padding-right: 18px" @click="DeliveredOrder({{o.id}}, {{o.status}})" class=" btn btn-brand"><i
                              class="material-icons md-check"></i></button>
                                </div>
                                                                {% endif %}

                                <a type="submit" href="tel: {{o.customer_phone}}" style="padding-left: 18px; padding-right: 18px"  class=" btn btn-brand"><i
                                        class="material-icons md-call"></i></a>
                            </div>
                        </div>
                    </form>
                </header>
            </div>
    {% endfor %}

            <div class="row mt-20">
{% if count > 0 %}

                <div class="col-md-12 mr-auto mt-auto pagination justify-content-center">
                    <h5>Jami sahifa soni : {{ page_obj.paginator.num_pages }} ta</h5>
                </div>
                <div class="mt-10 col-md-12 pagination justify-content-center">
                                                    <span class="step-links mr-auto ml-auto">
                                                        {% if page_obj.has_previous %}
                                                            <a href="?page=1" class="btn btn-success text-white"><<</a>
                                                            <a href="?page={{ page_obj.previous_page_number }}"
                                                               class="btn btn-success text-white"><</a>
                                                        {% endif %}
                                                        <!--of {{ page_obj.paginator.num_pages }}.Page-->
                                                    <span class="h4 mr-10 ml-10"> {{ page_obj.number }}</span>
                                                        {% if page_obj.has_next %}
                                                            <a href="?page={{ page_obj.next_page_number }}"
                                                               class="btn btn-success text-white"> ></a>
                                                            <a href="?page={{ page_obj.paginator.num_pages }}"
                                                               class="btn btn-success text-white">>></a>
                                                        {% endif %}
                                                    </span>
                    <br>
                    <h1>{{ page_obj.count }}</h1>
                </div>
                {% endif %}
            </div>
        </div>



    </section>
    <br>
    <br>
{% endblock %}
{% block header %}
    <script src="{% static '' %}js/vue.js"></script>
    <script src="{% static '' %}js/axios.min.js"></script>
   <style>
   .material-icons{
  vertical-align: middle;
   }
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}



</style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

{% endblock %}
{% block footer %}
<script>
axios.defaults.xsrfCookieName = 'csrftoken'
axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
        new Vue({
            el: '#app',
            delimiters: ["[[", "]]"],

            data() {
                return {
                       search: '{{query}}',
                      toggle: false,
                      SearchResult: [],
                      StatusChanged : []
                }
            },
            methods: {
                formatNumber(number) {
      const lastFourDigits = number.slice(-4);
      const precedingDigits = number.slice(0, -4);

      return precedingDigits.replace(/(\d{3})(?=\d)/g, '$1 ') + ' ' + lastFourDigits;
    },
                IsStatusChange(order_id){
                  var status_name = {1 : "Yetkazilmoqda", 2: 'Sotildi', 3: 'Bekor qilindi'}
                  var change = this.StatusChanged.filter(m => m.order_id == order_id)
                  if (change.length >0){
                    return {'status':change[0].status,'name':status_name[change[0].status]}
                  }
                  return 0
                },

                CancelledOrder(order_id,after_status) {
                  vm = this
                  return  Swal.fire({
                    inputLabel: 'Bekor qilishingiz sababi',
                                  input: 'textarea',
                                  showCancelButton: true,
                                  cancelButtonText: 'Qaytish',
                                  cancelButtonColor: '#4f5d77',
                                  confirmButtonText: 'Bekor qilish',
                                  confirmButtonColor: '#F30000',
                                  inputPlaceholder: 'Bekor qilishingiz sababini yozing...',
                                  inputAttributes: {
                                          'aria-label': 'Bekor qilishingiz sababini yozing..'
                                        },
                                        inputValidator: (value) => {
                                          return new Promise((resolve) => {
                                            if (value === '') {
                                              resolve("Iltimos oldin izoh kiriting")
                                            }else{
                                              resolve()
                                            }
                                          })
                                        }
                            }).then(function(result) {
                              if (result.value) {
                                axios.post('/driver-profile-change-order-status/', {
                                    order_id: order_id,
                                    next_status: 5,
                                    after_status: after_status,
                                    desc: result.value,
                                  })
                                  .then(function (response) {

                                     if(response.data.status == 200){

                                                          old = vm.StatusChanged.filter(m => m.order_id == order_id)
                                                          if (old.length > 0){
                                                          old[0].status=5
                                                          }else{
                                                          vm.StatusChanged.push({"order_id":order_id, 'status':5})
                                                          }
                                           Swal.fire({
                                                        title: "O'zgartirildi",
                                                        showCancelButton: false,
                                                        showConfirmButton: false,
                                                        icon : 'success',
                                                        timer: 1500
                                                    })
                                                    }else{
                                                        Swal.fire({
                                                        title: "Xato buyruq qayta urinib ko'ring",
                                                        showCancelButton: false,
                                                        showConfirmButton: false,
                                                        icon : 'error',
                                                                timer: 1500
                                                    })

                                                    }
                                  })
                                  .catch(function (error) {
                                    console.log(error);
                                  });


                              }

                            });
                },


                CallBackOrder(order_id,after_status){
                  vm = this
                Swal.fire({
                  inputLabel: "Necha kundan keyin qayta qo'g'iroq qilinadi",
                      input: 'select',
                      inputOptions: {
                          '1': '1 kundan keyin',
                        '3': '3 kundan keyin',
                        '5': '5 kundan keyin',
                        '10': '10 kundan keyin',
                      },
                      inputPlaceholder: 'Muddat tanlang',
                      showCancelButton: true,

                      cancelButtonText: 'Qaytish',
                      cancelButtonColor: '#4f5d77',
                      confirmButtonText: "O'zgartirish",
                      inputValidator: (value) => {
                        return new Promise((resolve) => {
                          if (value === '') {
                            resolve("Iltimos oldin muddat tanlang")
                          }
                            resolve()
                        })
                      }
                    }).then(function(result) {
                              if (result.value) {
                                axios.post('/driver-profile-change-order-status/', {
                                    order_id: order_id,
                                    next_status: 6,
                                    after_status: after_status,
                                    call_back_day: result.value,
                                  })
                                  .then(function (response) {
                                     if(response.data.status == 200){

                                                          old = vm.StatusChanged.filter(m => m.order_id == order_id)
                                                          if (old.length > 0){
                                                          old[0].status=6
                                                          }else{
                                                          vm.StatusChanged.push({"order_id":order_id, 'status':6})
                                                          }
                                           Swal.fire({
                                                        title: "O'zgartirildi",
                                                        showCancelButton: false,
                                                        showConfirmButton: false,
                                                        icon : 'success',
                                                        timer: 1500
                                                    })
                                                    }else{
                                                        Swal.fire({
                                                        title: "Xato buyruq qayta urinib ko'ring",
                                                        showCancelButton: false,
                                                        showConfirmButton: false,
                                                        icon : 'error',
                                                                timer: 1500
                                                    })

                                                    }
                                  })
                                  .catch(function (error) {
                                    console.log(error);
                                  });


                              }

                            });

                },

                DeliveredOrder(order_id, after_status){
                  vm=this
                  return Swal.fire({
                                                   icon:'warning',
                                                    position: 'center',
                                                  title: 'Siz buyurtmani sotildi qilmoqchimisiz?',
                                                  showDenyButton: true,
                                                  showCancelButton: false,
                                                  confirmButtonText: 'Xa',
                                                  denyButtonText: `Yo'q`,
                                                }).then((result) => {
                                                  if (result.isConfirmed) {
                                                    axios.post('/driver-profile-change-order-status/', {
                                                        order_id: order_id,
                                                        next_status: 4,
                                                        after_status: after_status,
                                                      })
                                                      .then(function (response) {
                                                        if(response.data.status == 200){
                                                          old = vm.StatusChanged.filter(m => m.order_id == order_id)
                                                          if (old.length > 0){
                                                          old[0].status=4
                                                          }else{
                                                          vm.StatusChanged.push({"order_id":order_id, 'status':4})
                                                          }

                                                              Swal.fire({
                                                                            title: "O'zgartirildi",
                                                                            showCancelButton: false,
                                                                            showConfirmButton: false,
                                                                            icon : 'success',
                                                                            timer: 1500
                                                                        })
                                                                        }else{
                                                                            Swal.fire({
                                                                            title: "Xato buyruq qayta urinib ko'ring",
                                                                            showCancelButton: false,
                                                                            showConfirmButton: false,
                                                                            icon : 'error',
                                                                                    timer: 1500
                                                                        })

                                                                        }
                                                      })
                                                      .catch(function (error) {
                                                        console.log(error);
                                                      });
                                                  }
                                                })
                },
              },
              watch: {
                search(val) {
                  this.SearchResult = [];
                  vm = this
                  if (val != ''){
                    axios.get('/driver-profile-order-list-autocomplete-order/', {
                    params: {
                          term: val,
                          status:{{status}}
                        }})
                                  .then(function (response) {
                                  console.log(response)
                                    vm.SearchResult = response.data

                                  })
                                  .catch(function (error) {
                                    // handle error
                                    console.log(error);
                                  })

                                      }
                }
              },

        })

</script>
{% endblock %}