{% extends 'operator_app/main/main.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
<section class="content-main">
    <div class="content-header">
        <div>
    <h3>Qabul qilgan buyurtmalarim</h3>



            {% for s in statuses_with_counts %}
<!--            {{s}}-->

            <a class="mt-1 mb-1 badge {% if request.GET.status == s.id %}
            btn-brand
            {% elif request.GET.status is None and s.id == '777' %}
            btn-brand
            {% else %}
            badge-soft-success
            {% endif %}"
               href="{% url 'operator_app_order_history' %}?status={{s.id}}{% for key, value in request.GET.items %}{% if key != 'status' and key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{s.status_name}} : {{s.order_count}} ta</a>
            {% endfor %}


        </div>
    </div>


    <div class="card">
        <form method="get">
        <div class="card-body" style="padding:8px;">

            <div class="row">
                                <div class="col-lg-8 col-md-8 me-auto">
                            <div class="results">
                                <div class="row">
                                    <div class="col-8" style="padding-right:0px ;">
                                <input type="text" placeholder="Qidiruv, mijoz tel, buyurtma id bo'yicha.." style="border: 1px solid #adacac !important;"
                                       {% if request.GET.search %}value="{{request.GET.search}}"{% endif %}
                                       class="form-control" name="search">


                                    {% if request.GET.status %}
                                        <input type="hidden" name="status" value="{{request.GET.status}}">
                                        {% endif %}
                                    </div>
                                    <div class="col-4" style="padding:0px !important;">
                                        <button class="btn btn-brand " type="submit"><i class="material-icons md-search"></i></button>

                                        {% if request.GET.search %}
                                        <a class="btn btn-danger " href="{% url 'operator_app_order_history' %}?{% for key, value in request.GET.items %}{% if key != 'search' and key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"><i class="material-icons md-search_off"></i></a>
                                        {% else %}
                                         <button class="btn btn-danger " type="button" disabled><i class="material-icons md-search_off"></i></button>

                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
            </form>
    </div>

    <div id="loading" style="display:none">
        <div class="text-center mt-20 mb-20 m-auto loader"></div>
        <h4 class="text-center">Bajarilmoqda...</h4>
    </div>

    <div id="take_order_card">

        {% for o in order %}
        <form method="post" onsubmit="submitForm()">
            {% csrf_token%}
            <div class="card m-auto mb-15" style="border: 1px solid #adacac !important; max-width: 800px;"
                 id="order_{{o.id}}">
                <div class="card-body" style="padding: 1.0rem 1.0rem 0.4rem 1.0rem  !important;">
                    <div class="row   order-info-wrap">
                        <div class="col-md-12">
                            <div class="text">
                                <h6 style="font-size:13px;" class="d-inline"><i class="material-icons md-hourglass_top"
                                                                                style="    vertical-align: bottom;    font-size: 19px;"></i>
                                    Keldi {{ o.created_at|timesince }} oldin </h6>

                                <span class="text-sm f-right badge" style="border:1px solid white;">{{o.get_status_display}} </span>

                                <hr style="margin: 5px;">
                                <h6>
                                    {% if o.status == '0' %}
                                    <span class="badge badge-soft-danger">O'chirish sababi : {{o.delete_desc}}</span>
                                    <br>
                                    {% endif %}
                                    <span style="-webkit-user-select: all; -moz-user-select: all; -ms-user-select: all; user-select: all">#ID : {{o.id}}</span>
                                    <br>
                                    <i class="material-icons md-perm_identity"
                                       style=" font-size:17px; vertical-align: text-bottom;"></i> Mijoz ismi :
                                    {{o.customer_name}}<br>
                                    <i class="material-icons md-phone"
                                       style=" font-size:17px; vertical-align: text-bottom;"></i> Mijoz tel :
                                    <span style="-webkit-user-select: all; -moz-user-select: all; -ms-user-select: all; user-select: all">{{o.customer_phone}}</span>

                                    <a href="tel: {{o.customer_phone}}" class="badge btn-sm btn-brand">
                                        <i class="material-icons md-phone"></i>
                                    </a>
                                    <br>

                                    <i class="material-icons md-place"
                                       style=" font-size:17px; vertical-align: text-bottom;"></i> Viloyat : {% if o.customer_region %} {{o.customer_region.name}} {% else %} ------- {% endif %}


                                    <br>

                                    <i class="material-icons md-place"
                                       style=" font-size:17px; vertical-align: text-bottom;"></i> Tuman : {% if o.customer_district %} {{o.customer_district.name}} {% else %} ------- {% endif %}


                                    <br>

                                    <i class="material-icons md-comment"
                                       style=" font-size:17px; vertical-align: text-bottom;"></i> Qo'shimcha : {{o.customer_street}}

                                    <br>

                                    <i class="material-icons md-today"
                                       style=" font-size:17px; vertical-align: text-bottom;"></i> Yetkazish sanasi : {{o.delivered_date}}

                                    <br>

                                    <i class="material-icons md-today"
                                       style=" font-size:17px; vertical-align: text-bottom;"></i> Qabul qilingan sana : {{o.created_at}}


                                    <br>
                                    <div style="padding:15px ; background-color:#141731; border-radius:10px;">
                                        <h6 class="text-center"><i class="material-icons md-shopping_basket"
                                                                   style=" font-size:17px; vertical-align: text-top;"></i>
                                            Mahsulot </h6>
                                        <hr style="margin: 3px;">

                                        {% for p in o.order_products %}
                                        <div style="border:1px solid white; border-radius:10px; padding:5px;">
                                            <small class="d-block" style="border-bottom:1px solid #ffffff82;">Nomi : {{p.product.name}}</small>
                                            <small class="d-block" style="border-bottom:1px solid #ffffff82;">Soni : {{p.total_quantity}} ta</small>
                                            <small class="d-block" style="border-bottom:1px solid #ffffff82;">Jami narxi : {{p.total_price|format_money}} so'm</small>

                                            {% if p.is_delivery_free is True %}
                                            <small class="d-block">Yo'l kira : Bepul</small>
                                            {% else %}
                                            <small class="d-block">Yo'l kira : Pullik</small>
                                            {% endif %}

                                            <span onclick="Swal.fire({
                                                  icon: 'info',
                                                  title: 'Mahsulot haqida',
                                                  html: `{{p.product.short|safe}}`,
                                                })"
                                                  class=" badge badge badge-soft-info btn-sm">Mahsulot haqida qo'shimcha ma'lumot</span>

                                        </div>
                                        {% endfor %}
                                        <hr style="margin: 3px;">
                                        <small class="d-block"><span style="color:#3bb77e;">Jami to'lov</span> :
                                            {{o.total_product_price|format_money}} so'm</small>

                                    </div>
                                    <hr style="margin: 3px;">

                                </h6>


                                <hr style="margin: 4px;">
                                <div class="mb-1">
                                    {% if o.status == '1' %}
                                    <a class="badge btn-brand" href="{% url 'operator_app_order_edit' o.id %}"
                                       style="padding: 7px;font-size: 14px;"><i
                                            class="material-icons md-edit"
                                            style="font-size: 15px;vertical-align: text-bottom;"></i>O'zgartirish</a>
                                    {% endif %}

                                    <span class="badge btn-info text-right"  onclick="takeScreenshot('order_{{o.id}}')"
                                          style="padding: 7px;font-size: 14px; background-color:#0070a4;"><i
                                            style="font-size: 15px;vertical-align: text-bottom;"
                                            class="material-icons md-photo_camera"></i> Skrinshot</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
        {% endfor %}


        <div class="pagination-area mt-20 mb-70">

            <nav aria-label="Page navigation example">
                <div class="mb-3 text-center">
                    {% if order.has_next %}

                    <a class="btn btn-brand btn-sm m-auto" style="width:70%;"
                       href="?page={{ order.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                        <span class="m-auto">Keyingi sahifaga o'tish ></span> </a>
                    {% endif %}

                </div>

                <ul class="pagination justify-content-center">
                    {% if order.has_previous %}
                    <li class="page-item">
                        <a class="page-link"
                           href="?page=1{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                            << </a>
                    </li>
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ order.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{  order.previous_page_number }}</a></li>
                    {% endif %}
                    <li class="page-item active"><a class="page-link" href="#">{{ order.number }}</a></li>

                    {% if order.has_next %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ order.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ order.next_page_number }}</a></li>
                    <li class="page-item">
                        <a class="page-link"
                           href="?page={{ order.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                            >> </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>


</section>
{% endblock %}

{% block header %}
<style>
    .loader {
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #3498db;
      width: 120px;
      height: 120px;
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 2s linear infinite;
    }

    /* Safari */
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
</style>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>

{% endblock %}
{% block footer %}
<script>
    function submitForm() {
                 document.getElementById('take_order_card').style.display = 'none';
                 document.getElementById('loading').style.display = 'block';

     }
        function takeScreenshot(card_class_name) {
            console.log(card_class_name)

            const cardElement = document.querySelector('#' + card_class_name);
            html2canvas(cardElement).then(canvas => {
                const screenshotUrl = canvas.toDataURL('image/png');
                const downloadLink = document.createElement('a');
                downloadLink.download = 'screenshot.png';
                downloadLink.href = screenshotUrl;
                downloadLink.click();
            });
        }

</script>
{% endblock %}