{% extends 'seller_app/main/main.html' %}
{% load static %}
{% block title %}
    Haydovchi : {{ d.first_name }} {{ d.last_name }}ga yuborilgan mahsulotlar
{% endblock %}
{% block content %}
<section class="content-main" id="app">
    <div class="content-header">
        <h4 class="content-title">Skanner orqali buyurtmalarni yuborishga tayyorga olish </h4>
        <div>

            <a href="{% url 'seller_app_warehouse_product_attachment_history' %}" class="btn btn-sm btn-brand"><i class="material-icons md-left-arrow"></i> Qaytish</a>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-body">
            <div class="row">

                <div class="col-md-6">
                    <h6>Buyurtma barcode raqamini kiriting</h6>
                    <input v-on:keyup.enter="create_send_product" type="text" v-model="barcode" class="form-control"
                             :maxlength="13" placeholder="Barcodni kirting" ref="barcodeScanner" @blur="refocusBarcodeScanner"
                    @input="updateBarcodeValue" @keydown="allowOnlyNumbers">
                </div>
                <div class="col-md-2">
                    <h6 >Qo'shish</h6>
                    <button  class="btn btn-brand btn-sm" type="button" :disabled="!(barcode.length===13 && agent.length !== 0)" @click="create_send_product()"><i class="material-icons md-add"></i>Qo'shish</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h4 class="text-center">Belgilangan buyurtmalari</h4>
            <div class="text-center ">

                <h4 class="text-white badge text-center d-inline" style="border:1px solid white;">Jami belgilangan buyurtma soni : [[total_order_count]] ta</h4>

            </div>
        </div>

        <div class="card-body" v-if="loading===true">

            <div id="loading">
                <div class="text-center mt-20 mb-20 m-auto loader"></div>
                <h6 class="text-center">Bajarilmoqda...</h6>
            </div>


        </div>

        <div class="card-body"  v-if="loading===false">
                <div style="overflow-x:auto;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Barcod</th>
                                <th>Holati</th>
                                <th>Mahsulot</th>
                                <th>Jami narxi</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(order, index) in order_list" :key="order.id">
                            <td>[[order.id]]</td>
                            <td>[[order.barcode]]</td>
                            <td>
                                <h6 class="badge" style="border:1px solid white;">Yuborishga tayyor</h6>
                            </td>
                            <td>
                                <span class="badge badge-soft-success" v-for="product in order.product_list">[[product.product_name]], [[product.price]] uzs, [[product.amount]] ta</span>
                            </td>
                            <td>
                                <h6>[[order.total_price]] uzs</h6>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            <div class="pagination-area mt-20 mb-20">
                <nav aria-label="Page navigation example">
                    <div class="mb-3 text-center">
                        <div v-if="has_next">

                            <a class="btn btn-brand btn-sm m-auto" style="width:70%;"
                               @click="goToNextPage()">
                                <span class="m-auto">Keyingi sahifaga o'tish ></span> </a>
                        </div>

                    </div>
                    <ul class="pagination justify-content-center">
                        <li class="page-item" v-if="has_previous">
                            <a class="badge page-link" style="background-color:#4d5561;" @click="goToFirstPage()">
                                < </a>
                        </li>
                        <li class="page-item" v-if="has_previous && (page-2) !== (page-1) && (page-2) > 0">
                            <a class="badge page-link" style="background-color:#4d5561;" @click="goToThisPage(page-2)">[[page-2]]</a>
                        </li>
                        <li class="page-item" v-if="has_previous">
                            <a class="badge page-link" style="background-color:#4d5561;" @click="goToPreviousPage()">[[page-1]]</a>
                        </li>
                        <li class="page-item active">
                            <span class="badge btn-brand page-link" href="#"> [[page]]</span>
                        </li>
                        <li class="page-item" v-if="has_next===true">
                            <a class="badge page-link" style="background-color:#4d5561;" @click="goToNextPage()"
                            >[[page+1]]</a></li>

                        <li class="page-item" v-if="has_next ===true && (page+2) < total_pages">
                            <a class="badge page-link" style="background-color:#4d5561;" @click="goToThisPage(page+2)"
                            >[[page+2]]</a></li>
                        <li class="page-item" v-if="has_next">
                            <button type="button" class="badge page-link" style="background-color:#4d5561;"
                                    @click="goToLastPage()"> >
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block header %}
        <link href="{% static '' %}css/table_custom.css" rel="stylesheet" type="text/css">
   <style>

.font-coiny{
     font-family: 'Coiny', sans-serif !important;
    font-weight:300 !important;

}




.example_box {
  box-sizing: content-box;

  width: 301.5px !important;
  max-width: 301.5px !important;
  min-width: 301.5px !important;
  height: 227.5px !important;
  max-height: 227.5px !important;
  min-height: 227.5px !important;

   margin:1px;
  padding: 3px;
  display:block !important;
  overflow: hidden;
  box-sizing: border-box;
}
 .barcode-material-icons{
  vertical-align: middle;
  font-size: 11px !important;
   color : black !important;
  }


  .item-line{
    color : black !important;
    font-weight:300 !important;
    font-size: 7px !important;
    display:block;
     font-family: 'Coiny', sans-serif !important;
    margin-top:3px;
  }


  @page {
  margin: 0;

    </style>
{% endblock %}

{% block footer %}
<script src="{% static '' %}js/vue.js"></script>
<script src="{% static 'js/axios.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.6/dist/barcodes/JsBarcode.ean-upc.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.6/dist/JsBarcode.all.min.js"></script>

<script>

axios.defaults.xsrfCookieName = "csrftoken"
axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
JsBarcode(".barcode").init();

new Vue({
        el: "#app",
        delimiters: ["[[", "]]"],
        data: {

          printDiv : null,


                //order_list :[],
                order_list :[],
                order_count :0,
                total_order_count :0,
                total_unprinted_order_count :0,
                total_printed_order_count :0,

                order_products :[],
                product_list :[],
                selected_product :0,

                selected_region :0,
                print_type :0,

                order_length :25,

                loading: false, // Yükleme durumu

                error: null, // Hata mesajı

                page: 1, // Şu anki sayfa numarası
                has_next: true, // Sonraki sayfa var mı?
                has_previous:false,
                total_pages : 1, // jami sahifa soni



            barcode:'',
            //barcode:'',
            type:1,
            agent : '2',
            order_list : [],



            total_count:'0',
            order_count:'0',
            Toast:Swal.mixin({
                              toast: true,
                              position: 'top-end',
                              showConfirmButton: false,
                              timer: 2500,
                              timerProgressBar: true,
                              didOpen: (toast) => {
                                toast.addEventListener('mouseenter', Swal.stopTimer)
                                toast.addEventListener('mouseleave', Swal.resumeTimer)
                              }
                            }),
            not_accepted_temps : [],
    },
    created() {
                    this.loadOrders();

//    this.get_send_product_amount()
            },
  mounted() {
    this.$refs.barcodeScanner.focus() // barkod scanner'a odaklan
  },
    methods: {
    allowOnlyNumbers(event) {
      // Sadece sayısal karakterlerin girilmesini sağlayan bir yöntem yazın
      const allowedKeys = ['Backspace', 'Tab', 'ArrowLeft', 'ArrowRight', 'Delete']
      if (!allowedKeys.includes(event.key) && isNaN(parseInt(event.key))) {
        event.preventDefault()
      }
    },
    updateBarcodeValue(event) {
      this.barcode = event.target.value // barkod değerini güncelle
    },
    refocusBarcodeScanner() {
      this.$refs.barcodeScanner.focus() // barkod scanner'a tekrar odaklan
    },

                        get_send_product_amount:async function(){
                            vm= this
                            await axios.get('{% url 'seller_app_warehouse_product_attachment_scanned_for_packaging_api' %}').then(
                                        function (response){
                                            if (response.status==200){
                                               //vm.order_count = response.data['order_count']
                                            }
                                            return []
                                        })
                            return []
                        },


                     loadOrders:async function() {
                      this.loading = true;
                      this.error = null;
                      await axios.get(`{% url 'seller_app_warehouse_product_attachment_scanned_for_packaging_api' %}?page=${this.page}&status=8&region=${this.selected_region}&product=${this.selected_product}&order_length=${this.order_length}`,{
                      headers: {
                        'Content-Type': 'application/json'
                      }})
                        .then((response) => {
                          const data = response.data;
                          if (data.status == 200){
                              this.has_next = data.has_next;
                              this.has_previous = data.has_previous;
                              this.total_pages = data.num_pages;
                              this.order_list = data.data
                              this.order_count = data.order_count
                              this.total_order_count = data.total_order_count
                              this.order_products = data.order_products


                              //this.orders = data.data.slice().sort(() => Math.random() - 0.5);
                              this.loading = false;

                              this.total_unprinted_order_count = data.total_unprinted_order_count;
                              this.total_printed_order_count = data.total_printed_order_count;

                            }else if(data.status == 404){

                              this.error = data.message;
                              this.loading = false;
                              this.is_disable = true;
                            }

                        })
                        .catch((error) => {
                          this.error = error.message;
                          this.loading = false;
                          this.is_disable = true;

                        });
                    },


                    goToNextPage() {
                        if (this.has_next) {
                            this.page++;
                            this.loadOrders();
                            window.scrollTo(0, 0);
                        }
                        },
                        goToFirstPage() {
                        if (this.has_previous) {
                            this.page=1;
                            this.loadOrders();
                            window.scrollTo(0, 0);
                        }
                        },
                        goToThisPage(number) {
                            this.page=number;
                            this.loadOrders();
                            window.scrollTo(0, 0);
                        },

                        goToLastPage() {
                        if (this.has_next) {
                            this.page= Number(this.total_pages);
                            this.loadOrders();
                            window.scrollTo(0, 0);
                        }
                        },
                        goToPreviousPage() {
                        if (this.has_previous) {
                            this.page--;
                            this.loadOrders();
                            window.scrollTo(0, 0);
                        }
                        },
    create_send_product:async function(){
        if (this.barcode.length < 13){
             this.Toast.fire({ icon: 'error',title: "Barcodni to'liq kiriting"});
        return 200
        }

    vm=this
     await axios.post('{% url 'seller_app_warehouse_product_attachment_scanned_for_packaging_api' %}', {
     'barcode':vm.barcode
     }).then(
                    function (response){
                        if (response.status==200){
                            if (Number(response.data["status"]) == 200){



                            Swal.fire({
                              icon: "success",
                              title: "Belgilandi",
                              showConfirmButton: false,
                              timer: 2500
                            });

<!--                             vm.Toast.fire({-->
<!--                                                      icon: 'success',-->
<!--                                                      title: "Qo'shildi"-->
<!--                                                    });-->

                            vm.barcode = ""
                            vm.page=1;
                            vm.loadOrders();
                            return 200
                            }else if(Number(response.data["status"]) == 404){
                            vm.barcode=""
                            Swal.fire({
                              icon: "error",
                              title: response.data['message'],
                              text: response.data['desc'],
                              confirmButtonText: 'Tushundim',
                            });
                                //vm.Toast.fire({ icon: 'warning',title: response.data['message']});
                            }
                        }else{
                        vm.barcode=""
                        vm.Toast.fire({ icon: 'error',title: "sizda xatolik mavjud"});
                        }
                        return []
                    })
    },
},computed: {
    },
    watch: {
    },
    })





</script>


{% endblock %}