{% extends 'main/main.html' %}
{% load static %}
{% block content %}
<section class="content-main" id="app">
    <div class="content-header">
        <h3 class="content-title">Sellerlar ro'yxati</h3>
        <div>
            {% if perms.admin.seller_create %}
            <a href="{% url 'seller_create' %}" class="btn btn-sm btn-brand">Yangi qo'shish</a>
            {% endif %}
        </div>
    </div>

    <div class="card" style="margin-bottom:8px;">
            <div class="card-body" style="padding:16px; ">
                <div class="row">
                    <div class="col-sm-12">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item d-inline"><a href="{% url 'home' %}">Boshqaruv paneli</a></li>
                            <li class="breadcrumb-item d-inline active">Sellerlar ro'yxati</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Qidiruv</h5>
                  <form method="get">
                                <div class="row align-items-center">
                                    <div class="col-md-6 col-sm-8 col-10 mb-md-0">
                                        <input type="text" class="form-control" placeholder="id, tel, ism bo'yicha qidiruv" name="search"
                                               {% if request.GET.search %}value="{{ request.GET.search }}" {% endif %}>
                                    </div>
                                    <div class="col-md-4 col-2">
                                        <button class="btn btn-brand" type="submit"><i class="material-icons md-search"></i>
                                        </button>
                                        {% if request.GET %}

                                        <a href="" class=" btn btn-danger"
                                           type="submit"><i class="material-icons md-search_off"></i></a>

                                        {% endif %}
                                    </div>
                                </div>
                            </form>


            <h6 class="text-muted">Jami sellerlar soni : {{count}} ta</h6>
            <div style="overflow-x:auto;">
                <table class="table table-hover" id="dataTable">
                    <thead>
                    <tr>
                        <th>Fio</th>
                        <th>Tel</th>
                        <th>Aktivmi</th>
                        <th>#</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for o in page_obj %}
                    <tr>
                        <td>
                            {{ o.first_name }} {{o.last_name}}
                        </td>
                        <td>
                            +{{ o.username }}
                        </td>
                        <td>
                            {% if o.is_active == True %}
                            <span class="material-icons md-check badge-soft-success"></span>
                            {% else %}
                            <span class="material-icons md-cancel badge-soft-danger"></span>
                            {% endif %}
                        </td>

                        <td>
                            {% if perms.admin.seller_product_list %}
                            <a href="{% url 'seller_product_list' o.id %}" class="btn btn-brand btn-sm">
                                <i class="fa-solid fa-boxes-stacked"></i>Mahsulotlari</a>
                            {% endif %}
                            {% if perms.admin.seller_edit %}
                            <a href="{% url 'seller_edit' o.id %}" class="btn btn-brand btn-sm">
                                <i class="material-icons md-edit"></i> O'zgartirish</a>
                            {% endif %}
                            {% if perms.admin.seller_details %}
                            <a href="{% url 'seller_edit' o.id %}" class="btn btn-brand btn-sm">
                                <i class="material-icons md-payment"></i> Hisobot</a>
                            {% endif %}
                        </td>

                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
                                        <div class="row ">
 <div class="col-md-12 mr-auto mt-auto pagination justify-content-center">
                </div>
                <div class=" col-md-12 pagination justify-content-center mt-5">
                                                    <span class="step-links mr-auto ml-auto">
                                                        {% if page_obj.has_previous %}
                                                            <a href="?page=1{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" class="btn btn-sm btn-brand  "><<</a>
                                                            <a href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                                                               class="btn btn-sm btn-brand "><</a>
                                                        {% endif %}
                                                        <!--of {{ page_obj.paginator.num_pages }}.Page-->
                                                    <span class="h6 mr-10 ml-10"> {{ page_obj.number }}</span>
                                                        {% if page_obj.has_next %}
                                                            <a href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                                                               class="btn btn-sm btn-brand">></a>
                                                            <a href="?page={{ page_obj.paginator.num_pages }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                                                               class="btn btn-sm btn-brand ">>></a>
                                                        {% endif %}
                                                    </span>
                </div>
                                        <h6 class="text-center mt-2 text-muted">Jami sahifa soni : {{ page_obj.paginator.num_pages }} ta</h6>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block header %}
        <link href="{% static '' %}css/table_custom.css" rel="stylesheet" type="text/css">
{% endblock %}