{% extends 'seller_app/main/main.html' %}
{% load static %}
{% block content %}
<section class="content-main" id="app">
    <form method="post" onsubmit="document.getElementById('submit_button').disabled=true">
        {% csrf_token %}
        <div class="content-header">
            <div>
                <h4 class="content-title card-title">Yangi ta'minotchi qo'shish</h4>
            </div>
            <div>
                <a href="{% url 'seller_app_supplier_list' %}" class="btn btn-brand">

                    <i class="material-icons md-left-arrow"></i> Qaytish
                </a>
                <button class="btn btn-brand " id="submit_button" type="submit">
                    <i class="material-icons md-add"></i> Saqlash
                </button>
            </div>
        </div>
        <div class="card">
            <header class="card-header">
                <h4>Ta'minotchi qo'shish uchun ma'lumotlarni to'ldiring</h4>
                {% if messages_error %}
                <div class="alert alert-danger" role="alert">
                    {{messages_error}}
                </div>
                {% endif %}
            </header>
            <div class="card-body">
                <div class="row mb-50 mt-20 order-info-wrap">
                    <div class="col-md-6">
                        <label>Ismi</label>
                        <input type="text" name="first_name" placeholder="Ismi" {% if r %}value="{{r.first_name}}" {% endif %} required
                               class="form-control">

                        <label>Familiyasi</label>
                        <input type="text" name="last_name" {% if r %}value="{{r.last_name}}" {% endif %} placeholder="Familiyasi"
                               class="form-control">
                        <label>Parol</label>
                        <input type="text" name="password_text" {% if r %}value="{{r.password_text}}" {% endif %} placeholder="Parol"
                               class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>Telefon raqami</label>
                         {% if r %}
                        <input type="text" name="phone" value="{{r.phone}}" class=" form-control" placeholder="Telefon raqami">
                        {% else %}

                        <input type="text" name="phone" id="phone_inputmask"
                               class="js-phone-input form-control" placeholder="Telefon raqami">
                        {% endif %}
                        <label class="text-sm">Aktivmi</label>
                        <input type="checkbox" name="is_active" class="form-check" {% if r %}{% if r.is_active == "on" %} checked{% endif %}{% endif %}>

                        <br>
                        <label>Oldin ostatkasi qolgan bo'lsa midori</label>
                        <input type="text" name="special_fee_amount" required {% if r %}value="{{r.special_fee_amount}}" {% endif %} placeholder="ostatka midori"
                               class="form-control">


                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script type='text/javascript'>
    $("#phone_inputmask").inputmask({"mask": "+\\9\\98999999999"});

</script>

{% endblock %}
{% block header %}
<script type='text/javascript' src='{% static "js/jquery-3.6.0.min.js" %}'></script>
<script type='text/javascript' src='{% static "js/jquery.inputmask.bundle.js" %}'></script>
{% endblock %}
{% block footer %}
{% endblock %}