
.font-coiny{
     font-family: 'Coiny', sans-serif !important;
    font-weight:300 !important;

}


table, th, td{
    border: 1px solid #000000 !important;
    padding: 0px !important;
    font-size : 10px !important;
    color : black !important;
    font-weight:900 !important;
    font-family: system-ui !important;
}


.example_box {
  box-sizing: content-box;


  width: 301.5px !important;
  max-width: 301.5px !important;
  min-width: 301.5px !important;
  height: 250px !important;
  max-height: 250px !important;
  min-height: 250px !important;

   margin:1px;
  padding: 3px;
  display:block !important;
  overflow: hidden;
  box-sizing: border-box;
}
 .barcode-material-icons{
  vertical-align: middle;
  font-size: 11px !important;
   color : black !important;
  }


  .item-line{
    color : black !important;
    font-weight:300 !important;
    font-size: 8px !important;
    display:block;
     font-family: 'Coiny', sans-serif !important;
    margin-top:3px;
  }


    .total-price-span{
        font-family: 'Coiny', sans-serif !important;
        color : black !important;
        font-weight:400 !important;
        font-size: 10px !important;
        text-align: center !important;
    }

.product-list-price-span{
    white-space: nowrap;
    font-size: 9px !important;
    padding:1px !important;
}
.product-list-collection-item-span{
    font-size: 10px !important;
    border:1px solid black;
    border-radius:5px;
    padding:1px;
    padding-left:2px;
    padding-right:2px;
}

  .product-list-span{
        color : black !important;
        line-height:1.2 !important;
        font-family: system-ui !important;
        font-weight: 900 !important;
        font-size: 10px !important;
        text-align: center !important;
        display:block;
        border:0.1px solid black;
        border-radius:5px;padding:1px !important;
  }


  @page {
  margin: 0;