{% extends 'operator_app/main/main.html' %}
{% load static %}
{% block content %}
    <section class="content-main">
        <div class="swiper mySwiper mb-3" style="border-radius:17px; height:100px; border:1px solid #adadad;">
            <div class="swiper-wrapper">
                {% for s in slider %}
                    <div class="swiper-slide">
                        <img src="{{ s.photo.url }}" alt="">
                    </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="card " style="border:1px solid white;">
            <div class="card-header">
                <div class="row">
                    <!--                    <div class="col-md-4 m-auto mt-10 mb-2">-->

                    <!--                        <article class="box bg-light">-->
                    <!--                            <h6>-->
                    <!--                                Balansngiz : {{ o.operator_data.balance }} so'm</h6>-->
                    <!--                            <small class="text-muted d-block ">Sotilgan buyurtmalardan yig'gan daromadingiz</small>-->
                    <!--                        </article>-->
                    <!--                    </div>-->
                    <!--                </div>-->
                    <!--                <h5>{% if d.balance < 0 %}-->
                        <!--                                                    Oldindan to'lov-->
                        <!--                                                    {% else %}-->
                        <!--                                                    Qarzingiz-->
                        <!--
                                                                            {% endif %} : {{ request.user.balance }} so'm</h5>-->


                    <div class="col-md-4 m-auto mt-10 mb-2">

                        <article class="box bg-light">
                            <h6>
                                Balansingiz : {{ o.operator_data.balance }} so'm</h6>
                            <small class="text-muted d-block ">Sotilgan buyurtmalardan yig'gan daromadingiz</small>
                        </article>
                    </div>
                    <div class="col-md-4 m-auto mt-10 mb-2">
                        <article class="box bg-light">
                            <h6>
                                Hold balans : {{ o.operator_data.hold }} so'm</h6>
                            <small class="text-muted d-block ">Shu oydagi yig'ayotgan daromadingiz</small>
                        </article>
                    </div>
                    {% if o.operator_data.order_amount_today < o.operator_data.operator_daily_limit %}
                        <div class="col-md-4 m-auto mt-10 mb-2">
                            <article class="box" style="background-color:#ff141454;">
                                <h6>
                                    Kunlik plan {{o.operator_data.operator_daily_limit}} ta siz kiritdingiz : {{ o.operator_data.order_amount_today }} ta</h6>
                                <small class="text-muted d-block ">Kunlik minimum {{o.operator_data.operator_daily_limit}} ta buyurtma kiritishingiz
                                    kerak</small>
                            </article>
                        </div>
                    {% endif %}
                </div>
                <div class="card-body">
                    <div class="row g-4">
                        <div class="col-sm-6 col-lg-4 col-xl-3">
                            <h6>Ma'lumotlaringiz</h6>
                            <p>
                                FIO: {{ user.first_name }} {{ user.last_name }}<br>
                                Tel: {{ user.username }} <br>
                            </p>
                        </div>


                        <div class="col-md-12 text-center"
                             style="border:1px solid black; border-radius:10px; padding:7px;">
                            <h6>Buyurtmalaringiz bo'yicha</h6>

                            {% for s in o.operator_data.order_statuses %}
                         <h6 class="badge btn-dark btn-sm ml-1 readonly">{{s.status_name}} : {{s.count}} ta</h6>
                            {% endfor %}
<!--                            <hr>-->
<!--                            <h6 class="badge btn-dark btn-sm ml-1 readonly">O'chirilgan-->
<!--                                : {{ o.operator_data.order_status.delete }} ta-->
<!--                            </h6>-->
<!--                            <h6 class="badge btn-dark btn-sm ml-1 readonly">Mahsulot kutilmoqda-->
<!--                                : {{ o.operator_data.order_status.wait }} ta-->
<!--                            </h6>-->
<!--                            <h6 class="badge btn-dark btn-sm ml-1 readonly">Mahsuloti yuborilgan-->
<!--                                : {{ o.operator_data.order_status.send_products }} ta-->
<!--                            </h6>-->
<!--                            <h6 class="badge btn-dark btn-sm ml-1 readonly">Yetkazilmoqda-->
<!--                                : {{ o.operator_data.order_status.being_delivered }} ta-->
<!--                            </h6>-->
<!--                            <h6 class="badge btn-dark btn-sm ml-1 readonly">Sotildi-->
<!--                                : {{ o.operator_data.order_status.delivered }} ta</h6>-->
<!--                            <h6 class="badge btn-dark btn-sm ml-1 readonly">Bekor qilindi-->
<!--                                : {{ o.operator_data.order_status.canceled }} ta-->
<!--                            </h6>-->
<!--                            <h6 class="badge btn-dark btn-sm ml-1 readonly">Qayta qo'ng'iroq-->
<!--                                : {{ o.operator_data.order_status.call_back }} ta-->
<!--                            </h6>-->
<!--                            <br>-->
<!--                            <h6 class="badge btn-dark btn-sm ml-1 readonly">Jami kiritdi-->
<!--                                : {{ o.operator_data.total_order_amount }} ta-->
<!--                            </h6>-->

                        </div>


                        <h5 class="badge btn-warning btn-sm ml-1 readonly">Sana : <span id="ct5"></span></h5>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <script>

        function display_ct5() {
            var x = new Date()

            var x1 = x.getMonth() + 1 + "/" + x.getDate() + "/" + x.getFullYear();

            var minutes = x.getMinutes().toString()
            minutes = minutes.length == 1 ? 0 + minutes : minutes;

            x1 = x1 + " - " + x.getHours() + ":" + minutes + ":" + x.getSeconds();
            document.getElementById('ct5').innerHTML = x1;
            display_c5();
        }

        function display_c5() {
            var refresh = 1000; // Refresh rate in milli seconds
            mytime = setTimeout('display_ct5()', refresh)
        }

        display_c5()


        function myFunction() {
            var copyText = document.getElementById("code");
            copyText.select();
            navigator.clipboard.writeText(copyText.value);

        }
    </script>
    </script>
{% endblock %}

{% block header %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <!-- Demo styles -->
    <style>

        .swiper {
            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 17px;
        }
    </style>
{% endblock %}
{% block footer %}
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            pagination: {
                el: ".swiper-pagination",
                dynamicBullets: true,
            },
        });
    </script>

{% endblock %}