{% extends 'main/main.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}

    <section class="content-main" id="app">
            <div class="content-header">

                <h2 class="content-title">Seller mahsulotlar ro'yxati</h2>
                <div>

                    <a href="{% url 'seller_list' %}" class="btn btn-brand btn-sm">
                        <i class="fa-solid fa-arrow-left"></i> Qaytish</a>

                </div>
            </div>
        <div class="card mb-4">

            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-md-8 col-12 me-auto mb-md-0 mb-3">

                        <form method="get">
                            <div class="row">
                                <div class="col-4">
                                    <h6>Qidiruv</h6>
                                    <input type="text" class="form-control" placeholder="id, nomi, izohi bo'yicha qidiruv" name="search"
                                           {% if request.GET.search %}value="{{ request.GET.search }}" {% endif %}>
                                </div>

                                <div class="col-md-4">
                                <h6>Mahsulot turi bo'yicha</h6>
                                    <select name="is_collection" class="form-control">
                                        <option value="0" {% if request.GET.is_collection == 0 or request.GET.is_collection is None %}selected{% endif %}>----------</option>
                                        <option value="1" {% if request.GET.is_collection == '1' %}selected{% endif %}>Donali mahsulot</option>
                                        <option value="2" {% if request.GET.is_collection == '2'%}selected{% endif %}>Mahsulotlar to'plami</option>
                                    </select>
                                </div>

                                <div class="col-md-4">
                                    <h6>Qo'llash</h6>


                                    <button class="btn btn-brand" type="submit"><i class="material-icons md-search"></i>
                                    </button>
                                    {% if request.GET.search or request.GET.is_collection %}
                                      <a href="{% url 'seller_product_list' seller.id %}" class=" btn btn-danger"
                                           type="submit"><i class="material-icons md-search_off"></i></a>
                                    {% else %}
                                    <button class="btn btn-danger" disabled type="submit"><i class="material-icons md-search_off"></i>
                                    </button>
                                    {% endif %}
                                </div>



                            </div>

                        </form>
                    </div>

                </div>
            <h6 class="text-muted">Soni : {{count}} ta</h6>

                <div style="overflow-x:auto;">
                    <table class="table table-hover" id="dataTable">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Id</th>
                            <th>Rasm</th>
                            <th>Admin tasdiqi</th>
                            <th>Nomi</th>
                            <th>Sotuvdami</th>
                            <th>Turi</th>
                            <th>Yo'l kira summasi</th>
                            <th>O'lchov turi</th>
                            <th>Ranglari</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for o in page_obj %}
                        <tr>
                            <td>
                                <a href="{% url 'seller_product_details' o.seller.id o.id %}" class="badge btn-brand btn-sm"><i class=" fa-solid fa-circle-info"></i></a>
                            </td>
                            <td>
                                <h6 class="d-inline">#{{o.id}}</h6>
                        </td>
                            <td>

                                <div>
                                    {% if o.small_image %}
                                <img src="{{o.small_image.url}}" style="
                                border-radius: 7px;
                                max-width: 40px;
                                border: 0.1px solid;">
                                    {% endif %}
                                    </div>
                            </td>
                            <td>
                            <h6>
                                {{ o.name }}
                            </h6>
                            </td>
                            <td>

                                <h6 {% if o.approval_status == '2' %}class="text-success"{% elif o.approval_status == '3' %}class="text-danger"{% endif%}>{{o.get_approval_status_display}}</h6>
<!--                                <form method="post">-->
<!--                                    {% csrf_token %}-->
<!--                                    {% if o.approval_status == '1' %}-->
<!--                                    <button name="action" onclick="return confirm('Siz rostdanham tasdiqlamoqchimisiz?')" value="confirm" class="btn btn-sm btn-brand"><i class="material-icons md-check"></i> Tasdiqlash</button>-->
<!--                                    {% endif %}-->
<!--                                    <input type="hidden" name="comment" id="delete_note">-->
<!--                                    <input type="hidden" name="product_id" value="{{o.id}}">-->
<!--                                    {% if o.approval_status == '1' %}-->
<!--                                <button class="btn  btn-danger rounded font-sm btn-sm" value="cancel" name="action" type="button" onclick="return Swal.fire({-->
<!--                                  title: 'Bekor qilishingiz sababi',-->
<!--                                  input: 'textarea',-->
<!--                                   showCancelButton: true,-->
<!--                                  cancelButtonText: 'Qaytish',-->
<!--                                  cancelButtonColor: '#4f5d77',-->
<!--                                  confirmButtonText: 'Bekor qilish',-->
<!--                                    confirmButtonColor: '#F30000',-->
<!--                                  inputPlaceholder: 'Bekor qilishingiz sababini yozing...'-->
<!--                            }).then(function(result) {-->
<!--                              if (result.value) {-->
<!--                                document.getElementById('delete_note').value = result.value-->
<!--                                form.submit();-->
<!--                              }-->
<!--                            })"><i class="fa-solid fa-xmark"></i>  Bekor qilish</button>-->
<!--                                    {% endif %}-->
<!--                                </form>-->
                            </td>
                            <td>

                                <h6>
                                {% if o.is_active is True %}
                                <span class="badge badge-soft-success">Sotuvda</span>
                                {% else %}
                                <span class="badge badge-soft-danger">Sotuvda emas</span>
                                {% endif %}
                                </h6>

                            </td>
                            <td>
                                <h6>
                                {% if o.is_collection is False %}
                                <span class="badge badge-soft-success">Donali mahsulot</span>
                                {% else %}
                                <span class="badge badge-soft-info">Mahsulotlar to'plami</span>
                                {% endif %}
                                </h6>

                            </td>
                            <td>

                                <h6>{{o.total_delivery_price|format_money}} uzs</h6>
                            </td>
                            <td>
                                {% if o.measure is None %}
                                    --------
                                {% else %}
                                    {{ o.measure.name }}
                                {% endif %}
                            </td>
                            <td>

                                {% if o.colors.all|length == 0 %}
                                --------
                                {% else %}
                                {% for c in o.colors.all %}
                                <span class="badge" style="border:1px solid white;">{{c.name}} <b style="color:{{c.color}}">#</b></span>
                                {% endfor %}
                                {% endif  %}
                                </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>



                                        <div class="row ">
 <div class="col-md-12 mr-auto mt-auto pagination justify-content-center">
                </div>
                <div class=" col-md-12 pagination justify-content-center mt-5">
                                                    <span class="step-links mr-auto ml-auto">
                                                        {% if page_obj.has_previous %}
                                                            <a href="?page=1{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" class="btn btn-sm btn-brand  "><<</a>
                                                            <a href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                                                               class="btn btn-sm btn-brand "><</a>
                                                        {% endif %}
                                                        <!--of {{ page_obj.paginator.num_pages }}.Page-->
                                                    <span class="h6 mr-10 ml-10"> {{ page_obj.number }}</span>
                                                        {% if page_obj.has_next %}
                                                            <a href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                                                               class="btn btn-sm btn-brand">></a>
                                                            <a href="?page={{ page_obj.paginator.num_pages }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                                                               class="btn btn-sm btn-brand ">>></a>
                                                        {% endif %}
                                                    </span>

                </div>
                                        <h6 class="text-center mt-2 text-muted">Jami sahifa soni : {{ page_obj.paginator.num_pages }} ta</h6>

            </div>

            </div>
            <!-- card-body end// -->
        </div>
    </section>
{% endblock %}
{% block header %}
        <link href="{% static '' %}css/table_custom.css" rel="stylesheet" type="text/css">
{% endblock %}
