{% extends 'seller_app/main/main.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
<section class="content-main" id="app">
    <div class="content-header">
        <div>
            <h3>To'lov</h3>

        </div>

        <div>
            <a href="{% url 'seller_app_payment_list' %}" class="btn btn-sm btn-brand">Qaytish</a>
        </div>

    </div>



        <div class="row">
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-info-light"><i
                                class="text-primary material-icons md-local_shipping"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Hold balans</h6>
                            <span>{{ request.user.seller_data.hold|format_money }} uzs</span>
                            <span class="text-sm"> Sizning ehtimoliy daromadingiz</span>
                        </div>
                    </article>
                </div>
            </div>
               <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-info-light"><i
                                class="text-primary material-icons md-payment"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Jami to'landi</h6>
                            <span>{{ request.user.seller_data.total_payment_confirmed|format_money }} uzs</span>
                            <span class="text-sm">Jami to'lab berildi</span>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-info-light"><i
                                class="text-primary material-icons md-payments"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Depozit balansda</h6>
                            <span>{{ request.user.seller_data.total_payment_new|format_money }} uzs</span>
                            <span class="text-sm">Sizga to'lash jarayonidagi mablag' </span>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-primary-light"><i
                                class="text-primary material-icons md-monetization_on"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Balans</h6>
<!--                            <span>{{ request.user.balance }} so'm</span>-->
                            <span>{{ request.user.seller_data.balance|format_money }} so'm</span>
                            <span class="text-sm"> Jami to'plagan bonusingiz </span>
                        </div>
                    </article>
                </div>
            </div>

        </div>


    <div class="card mb-4">
         <form method="post" onsubmit="document.getElementById('mysubmit').disabled=true;">
                {% csrf_token %}
                <header class="card-header">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 me-auto">
                            <div class="row">
                                <div class="col-12">
                                    <p>Yangi so'rov jo'natish</p>
                                </div>
                                <div class="col-sm-5">
                                        <input
                                          type="text"
                                          id="cardNumber"
                                          v-model="cardNumber"
                                          @input="validateCardNumber"
                                          :style="inputStyle"
                                          maxlength="16"
                                          name="payment_card"
                                          placeholder="Karta raqamingizni kiriting..."
                                           class="form-control"
                                        />
                                        <p v-if="isInvalid" class="text-muted" style="color: red;">Karta raqami uzunligi 16 ta bo'lishi kerak</p>
                                </div>
                                <div class="col-sm-3">
                                    {{request.user.payment_is_valid}}
                                    <input type="number" name="amount" v-model="amount" {% if request.user.payment_is_valid == False %}disabled placeholder="2 soatda 1 marta to'lov qilishingiz mumkin"{% else %}placeholder="{% if request.user.balance < minimal_pay %}Kamida {{ minimal_pay}} so'm yechishingiz mumkin...{% else %}Summani kiriting...{% endif %}"{% endif %} class="mb-0 form-control">
                                                                <h6 class="text-sm text-center" style="font-size:12px;font-weight:400; color:#ff7a7a;" v-if="amount > bonus">Hisobingizda buncha mab'lag' yo'q</h6>
                                                                <h6 class="text-sm text-center" style="font-size:12px;font-weight:400;  color:#ff7a7a;" v-if="amount > 0 && amount < {{minimal_pay}}">Kamida {{minimal_pay}} so'm yechishingiz mumkin</h6>

<!--                                                                <span class="text-sm" style="font-size:12px;font-weight:400;color:#6c757d;"> 2 soatda 1 marta to'lov qilishingiz mumkin</span>-->

                                </div>
                                <div class="col-sm-2" disabled>
                                    {% if request.user.seller_data.balance < minimal_pay %}
                                        <button class="btn btn-brand" disabled type="submit"><i class="material-icons md-check mr-5"></i></button>
                                    {% else %}
                                        <button class="btn btn-brand" :disabled="button" id="mysubmit" type="submit"><i class="material-icons md-check mr-5"></i></button>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                </header>
            </form>
    </div>
</section>
{% endblock %}
{% block header %}
    <script src="{% static '' %}js/vue.js"></script>
<style>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #212133
}
</style>
{% endblock %}
{% block footer %}
    <script>
        new Vue({
            el: '#app',
            delimiters: ["[[", "]]"],
            data() {
                return {
                    amount: "",
                    alert:false,
                    button:true,
                    bonus: {{ request.user.seller_data.balance }},
                    minimal_pay: {{ minimal_pay }},
                    cardNumber: {% if request.user.payment_card %}"{{request.user.payment_card}}"{% else %}""{% endif %},   // Girilen kart numarası
                      isInvalid: false,
                }},
            methods: {
             validateCardNumber() {
                  // Kart numarası 16 haneli değilse geçersiz kabul et
                  this.isInvalid = this.cardNumber.length > 0 && this.cardNumber.length < 16;
                },
            },
              computed: {
                inputStyle() {
                  // Kart numarası 0'dan büyük ve 16 haneden küçükse kırmızı çerçeve göster
                  return {
                    borderColor:
                      this.cardNumber.length > 0 && this.cardNumber.length < 16
                        ? "red"
                        : "black",
                  };
                },
              },
            watch :{
                 amount: function (){
                     //alert(amount)
                 	if (Number(this.bonus) >= Number(this.amount) && Number(this.amount) >= Number(this.minimal_pay)){
                 		this.button=false;
                 		this.alert=false;

                 	}else{
                 		this.button=true;
                 		this.alert=true;
                 	}
                }
            }
        })
    </script>
{% endblock %}


