
{% extends 'seller_app/main/main.html' %}
{% load static %}
{% block content %}
    <section class="content-main">


        <div class="card " style="border:1px solid white;">

            <div class="card-body">
                <div class="row">

                    <div class="col">


                        <div width="40%">
                                            <a href="#" class="itemside">
                                                <div class="left">
                                                    <img src="{% static 'imgs/theme/seller.svg' %}" class="img-sm img-avatar" alt="Userpic">
                                                </div>
                                                <div class="info pl-3">
                                                    <h6 class="mb-0 title">{{ user.first_name }} {{ user.last_name }}</h6>
                                                    <small class="text-muted badge" style="border:1px solid #ffffff63;">Tel: #{{user.username}}</small>
                                                    <br>
                                                    <div>

                                                        <span class="span btn-sm rounded font-sm mt-5 pl-6" style="background-color:#3bb77e7a; padding:2px 9px;"> <i class="material-icons md-edit"></i> O'zgartirish</span>
                                                    </div>

                                                </div>
                                            </a>
                                        </div>

                                        </div>
                    <hr style="margin-top:10px;">
                    <div>
                        <nav>
                            <ul class="menu-aside">
                                <li style="border:1px solid #ffffff63;border-radius:14px;" class="menu-item {% if "seller_app_payment_list" == u %}active{% endif %}">
                                    <a class="menu-link" href="{% url 'seller_app_payment_list' %}">
                                        <i class="icon fa-solid fa-file-invoice"></i>
                                        <span class="text">To'lov tarixi </span>
                                    </a>
                                </li>


                            </ul>
                        </nav>
                    </div>


                </div>
            </div>
        </div>
    </section>


    <script>

function display_ct5() {
var x = new Date()

var x1=x.getMonth() + 1+ "/" + x.getDate() + "/" + x.getFullYear();

var minutes=x.getMinutes().toString()
minutes=minutes.length==1 ? 0+minutes : minutes;

x1 = x1 + " - " +  x.getHours( )+ ":" +  minutes + ":" +  x.getSeconds();
document.getElementById('ct5').innerHTML = x1;
display_c5();
 }
 function display_c5(){
var refresh=1000; // Refresh rate in milli seconds
mytime=setTimeout('display_ct5()',refresh)
}
display_c5()



        function myFunction() {
            var copyText = document.getElementById("code");
            copyText.select();
            navigator.clipboard.writeText(copyText.value);

        }
    </script>
    </script>
{% endblock %}
{% block header %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
 <!-- Demo styles -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js" data-mutate-approach="sync"></script>

  <style>

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #222736;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius:17px;
    }
.menu-link:hover{
border-radius:15px;
}
  </style>
{% endblock %}
{% block footer %}
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      pagination: {
        el: ".swiper-pagination",
        dynamicBullets: true,
      },
    });
  </script>

{% endblock %}