{% extends 'main/main.html' %}
{% load static %}
{% block title %}
Haydovchi : {{ d.first_name }} {{ d.last_name }}
{% endblock %}
{% block content %}
    <section class="content-main">
        <div class="content-header">
            <h3 class="content-title">Haydovchi : {{ d.first_name }} {{ d.last_name }}</h3>

            {% include "driver/top_button.html" %}
        </div>


        <div class="card">
            <div class="card-body">
                <div class="row gx-5">
                    <aside class="col-lg-3 border-end">
                        <nav class="nav nav-pills flex-lg-column mb-4">
                            {% include 'driver/header.html' %}

                        </nav>
                    </aside>

                    <div class="col-lg-9">
                        <section class="content-body p-xl-4">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row gx-3">
                                        <div class="col-md-12">
                                            <h4 class="text-center">Haydovchi ombor</h4>
                                        </div>
                                        <div class="col-md-12 mt-10 mb-2">
                                            <a href="google.com">
                                            <article class="box bg-light text-center" style="border:1px solid #ffffff5e;border-radius:10px;">
                                                <h5><i class="material-icons md-assignment_turned_in" style="vertical-align:middle;"></i> Haydovchi omboridagi qoldig'i</h5>
                                            </article>
                                            </a>
                                        </div>

                                        {% if perms.admin.driver_warehouse_operation_send_product_create_camera or perms.admin.driver_warehouse_operation_send_product_create_scanner %}
                                        <div class="col-md-6 mt-10 mb-2">
                                            <article class="box bg-light text-center" style="border:1px solid #ffffff5e;border-radius:10px;">
                                                <h5 class="mb-1"><i class="material-icons md-local_shipping" style="vertical-align:middle;"></i> Mahsulot yuborish</h5>
<!--                                                {% if perms.admin.driver_warehouse_operation_send_product_create_camera %}-->
<!--                                                <a href="{% url 'driver_warehouse_operation_send_product_create_camera' d.id %}" class="mt-1 btn btn-sm btn-brand"><i class="material-icons md-add"></i> Kamera orqali</a>-->
<!--                                                {% endif %}-->
                                                {% if  perms.admin.driver_warehouse_operation_send_product_create_scanner %}
                                                <a href="{% url 'driver_warehouse_operation_send_product_create_scanner' d.id %}" class="mt-1 btn btn-sm btn-brand"><i class="material-icons md-add"></i> Skanner orqali</a>
                                                {% endif %}

                                            </article>
                                        </div>
                                        {% endif %}

                                        {% if  perms.admin.driver_warehouse_operation_return_product_by_order_create_scanner %}
                                        <div class="col-md-6 mt-10 mb-2">
                                            <article class="box bg-light text-center" style="border:1px solid #ffffff5e;border-radius:10px;">
                                                <h5 class="mb-1"><i class="material-icons md-reply" style="vertical-align:middle;"></i>
                                                    Mahsulot qaytarish</h5>

<!--                                               <a href="" class="mt-1 btn btn-sm btn-brand"><i class="material-icons md-add"></i> Kamera orqali</a>-->
                                                <a href="{% url 'driver_warehouse_operation_return_product_by_order_create_scanner' d.id %}" class="mt-1 btn btn-sm btn-brand"><i class="material-icons md-add"></i> Skanner orqali</a>
                                            </article>
                                        </div>
                                        {% endif %}
                                        {% if  perms.admin.driver_warehouse_operation_history %}
                                        <div class="col-md-12 mt-10 mb-2">
                                            <a class="mb-1" href="{% url 'driver_warehouse_operation_history' d.id %}">
                                            <article class="box bg-light text-center" style="border:1px solid #ffffff5e;border-radius:10px;">
                                                <h6><i class="material-icons md-format_list_bulleted" style="vertical-align:middle;"></i>
                                                    Amaliyotlar</h6>
                                            </article>
                                            </a>
                                        </div>
                                        {% endif %}



                                        <!-- col .// -->
                                    </div>
                                    <!-- row.// -->
                                </div>
                                <!-- col.// -->
                                <!-- col.// -->
                            </div>
                            <!-- row.// -->
                        </section>
                        <!-- content-body .// -->
                    </div>
                    <!-- col.// -->
                </div>
                <!-- row.// -->
            </div>
            <!-- card body end// -->
        </div>
        <!-- card end// -->
    </section>


{% endblock %}