{% extends 'main/main.html' %}
{% load static %}
{% block title %}
    Haydovchi : {{ d.first_name }} {{ d.last_name }}ga yuborilgan mahsulotlar
{% endblock %}
{% block content %}
<section class="content-main" id="app">
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                        <h4>Barcode : [[barcode]]</h4>
                </div>

              <div class="col-md-12 d-block"  style="min-height:300px;max-height:300px; height:100px;">
                  <div style="border:1px solid white; height:100%; width:100%;border-radius:10px;">

                    <div id="camera" v-show="isScanning"></div>

                  </div>
              </div>
                <div class="col-md-12">
                    <button @click="startScanner" v-if="isScanning===false" class="btn  btn-primary d-inline" style="min-width:85%;"><i class="material-icons md-barcode" style="vertical-align:middle;"></i> Skannerlash</button>
                    <button @click="stopScanner" v-if="isScanning===true" class="btn  btn-danger d-inline" style="min-width:85%;"><i class="material-icons md-cancel" style="vertical-align:middle;"></i>To'xtatish</button>
                    <button @click="toggleFlash()" v-if="flashEnabled===false" class="btn btn-sm btn-primary d-inline" style="padding:10px 10px;"><i class="material-icons md-lightbulb"></i> </button>
                    <button @click="toggleFlash()" v-if="flashEnabled===true" class="btn btn-sm btn-primary d-inline" style="padding:10px 10px;"><i class="material-icons md-lightbulb"></i></button>

                </div>
            </div>

        </div>
    </div>

    <div class="card">
                <div class="card-body">

                <div class="col-md-12">
                            <h4 class="content-title">Haydovchi {{d.first_name}} {{d.last_name}}ga mahsulot yuborish </h4>

                    <br>
                        <a href="{% url 'driver_warehouse' d.id %}" class="btn btn-sm btn-brand"><i class="material-icons md-left-arrow"></i> Qaytish</a>

                </div>
                </div>
    </div>


</section>
{% endblock %}
{% block header %}
    <style>
    video {
    width: 100%;
    height: 300px;
    border: 1px solid !important;
    border-radius: 10px!important;

    }
    .drawingBuffer{
        height: 0px;

    }


    </style>
{% endblock %}
{% block footer %}
<script src="{% static '' %}js/vue.js"></script>
<script src="{% static 'js/axios.min.js' %}"></script>
<!--<script src="{% static 'js/quagga.min.js' %}"></script> &lt;!&ndash; QuaggaJS eklendi &ndash;&gt;-->
  <script src="https://cdn.jsdelivr.net/npm/quagga"></script>



<script>

axios.defaults.xsrfCookieName = "csrftoken"
axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
new Vue({
    el: "#app",
    delimiters: ["[[", "]]"],
    data: {
        barcode: '',
        type: 1,
        agent: '2',
        total_wight: '0',
        total_count: '0',
        order_count: '0',
        flashEnabled: false,
        showScanner:true,

        cameraAreaShow:false,
        scannedOnce: false,
        loading : true,
          isScanning: true,

             isScanning: false,
             Toast:Swal.mixin({
                              toast: true,
                              position: 'top-end',
                              showConfirmButton: false,
                              timer: 2500,
                              timerProgressBar: true,
                              didOpen: (toast) => {
                                toast.addEventListener('mouseenter', Swal.stopTimer)
                                toast.addEventListener('mouseleave', Swal.resumeTimer)
                              }
                            }),

    },
    methods: {
        create_send_product: async function() {
             if (this.barcode.length < 13){
             this.Toast.fire({ icon: 'error',title: `Barcodni to'liq kiriting ${this.barcode.length}- ${this.barcode}`});
                                                            this.isScanning = true;
                    return 200
                    }
                vm=this
                 await axios.post('{% url 'driver_print_unshipped_orders_api' d.id %}', {
                 'barcode':vm.barcode
                 }).then(
                                function (response){
                                    if (response.status==200){
                                        if (Number(response.data["status"]) == 200){
                                        Swal.fire({
                                          icon: "success",
                                          title: "Belgilandi",
                                          showConfirmButton: false,
                                          timer: 3500
                                        });
                                        vm.playSuccessSound()

                                        //vm.isScanning = true;
                                        vm.barcode = ""
                                        return 200
                                        }else if(Number(response.data["status"]) == 404){
                                            vm.barcode=""
                                            Swal.fire({
                                              icon: "error",
                                              title: "Hatolik",
                                              text: response.data['message'],
                                              confirmButtonText: 'Tushundim',
                                            });
                                        }
                                    }else{
                                   vm.isScanning = true;

                                    vm.barcode=""
                                    Swal.fire({
                                          icon: "error",
                                          title: "Serverbilan bog'lanib bo'lmadi",
                                          text: response.data['message'],
                                          confirmButtonText: 'Tushundim',
                                        });
                                    }
                                    return []
                                })
        },

           startScanner() {
            this.isScanning = true;
            this.initScanner();
          },
          stopScanner() {
            this.isScanning = false;
            Quagga.stop();
          },
          initScanner() {
            const self = this;
            Quagga.init({
              inputStream: {
                name: "Live",
                type: "LiveStream",
                target: document.querySelector("#camera") // Kameradan okuma alanı
              },
              decoder: {
                readers: ["ean_reader"] // Okunabilir barkod türü
              }
            }, function(err) {
              if (err) {
                console.error(err);
                return;
              }
              console.log("Initialization finished. Ready to start");
              Quagga.start();
            });

            Quagga.onDetected((result) => {
                   let self = this
                   if (result.codeResult.code.length === 13){
                      self.barcode = result.codeResult.code; // Barkod değerini güncelle
                      self.stopScanner()
                      self.create_send_product();
                   }


            });
          },


        toggleFlash() {
            const track = document.querySelector("#camera video").srcObject.getVideoTracks()[0];
            if (track.getCapabilities().torch) {
                track.applyConstraints({
                    advanced: [{torch: !track.getSettings().torch}]
                });
                this.flashEnabled = !this.flashEnabled;
            }

        }, playSuccessSound:async function() {
              const soundUrl = '{% static '' %}sound/success.mp3'; // Ses dosyasının URL'sini buraya girin
              const sound = new Audio(soundUrl);
              sound.play();
        }, playErrorSound() {
              const soundUrl = '{% static '' %}sound/error.mp3'; // Ses dosyasının URL'sini buraya girin
              const sound = new Audio(soundUrl);
              sound.play();
    }



    },
    computed: {
    },
    watch: {
    loading: function(){
    }
    },
});
</script>
{% endblock %}
