{% extends 'driver_app/main/main.html' %}
{% load static %}
{% block content %}
    <section class="content-main" id="app" >
        <div class="content-header">
            <h4 class="content-title">Amaliyotlar</h4>
        </div>


        <div class="card" style="margin-bottom:8px;">
            <div class="card-body" style="padding:16px; ">
                <div class="row">
                    <div class="col-sm-12">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item d-inline"><a href="{% url 'driver_app_menu' %}">Menyu</a></li>
                            <li class="breadcrumb-item d-inline active">Amaliyotlar</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div>

            {% for i in page_obj %}
            <div class="card " style="border: 1px solid #adacac !important;" id="infinite-lists">
                {% if i.relation_order_is_close == True %}
            <!--        LOCK        -->
                <div style="background-color:#306354;">
                   <div class="me-auto  text-center" style="border-bottom: 1px solid #adacac !important;padding:10px;">
                                    <i class="material-icons md-lock"></i>
                   </div>
                </div>
            {% else %}
            <!--        UNLOCK        -->
                <div style="background-color:rgb(255 204 19 / 36%);">
                   <div class="me-auto  text-center" style="border-bottom: 1px solid #adacac !important;padding:10px;">
                                    <i class="material-icons md-lock_open"></i>
                   </div>
                </div>
            {% endif %}




                <div class="card-body" style="padding: 1.0rem 1.0rem 0.4rem 1.0rem  !important;">
                    <div class="row   order-info-wrap">
                        <div>

                            <div class="text">
                                <h5 style="display:inline;">Sotuv foizi : {{i.relation_order_sold_percentage.sold_percentage}}%</h5>
                                <h5  class=" bage-sm text-sm f-right">#{{i.id}}</h5>
                                <hr>
                            </div>

                            <div class="text-center">
                                <h5 class="badge btn-sm ml-1 readonly text-white m-auto" style="background-color:#da7713f0;">Mahsulotalr kelgan sana : {{ i.to_user_status_changed_at }}   </h5>
                            </div>


                               </div>


                        <hr class="m-1">
                        <div class="col-md-12 text-center mt-2">
<!--                            <a href="{% url 'driver_app_warehouse_operation_product_list' i.id %}" class="btn btn-sm btn-brand" style="background-color:#3b9fb7;">-->
<!--                                <h6 style="font-size:11px;"><i style="vertical-align:text-top;" class="icon material-icons md-widgets"></i> Mahsulotlar</h6>-->
<!--                            </a>-->

                            <a href="{% url 'driver_app_postage_order_list' i.id %}" class=" btn btn-sm btn-brand">
                                <h6 style="font-size:11px;"><i style="vertical-align:text-top;" class="icon material-icons md-shopping_basket"></i> Buyurtmalar : {{i.postage_details_count}} ta</h6>
                            </a>
                        </div>
                        </div>




                    </div>
                </div>

            {% endfor %}
            </div>



                                <div class="row mt-20 mb-20">
{% if count > 0 %}
                <div class="col-md-12 mr-auto mt-auto pagination justify-content-center">
                    <small >Jami sahifa soni : {{ page_obj.paginator.num_pages }} ta</small>
                </div>
                <div class="mt-10 col-md-12 pagination justify-content-center">
                                                    <span class="step-links mr-auto ml-auto">
                                                        {% if page_obj.has_previous %}
                                                            <a href="?page=1" class="btn btn-brand text-white"><<</a>
                                                            <a href="?page={{ page_obj.previous_page_number }}"
                                                               class="btn btn-brand text-white"><</a>
                                                        {% endif %}
                                                    <span class="h4 mr-10 ml-10"> {{ page_obj.number }}</span>
                                                        {% if page_obj.has_next %}
                                                            <a href="?page={{ page_obj.next_page_number }}"
                                                               class="btn btn-brand text-white"> ></a>
                                                            <a href="?page={{ page_obj.paginator.num_pages }}"
                                                               class="btn btn-brand text-white">>></a>
                                                        {% endif %}
                                                    </span>
                    <br>
                    <h1>{{ page_obj.count }}</h1>
                </div>
                        {% else %}
                        <h5 class="text-center">Pochta topilmadi!</h5>
                        {% endif %}
            </div>
    </section>
    <br>
    <br>
{% endblock %}
{% block header %}
    <script src="{% static '' %}js/vue.js"></script>
    <script src="{% static '' %}js/axios.min.js"></script>
   <style>
   .material-icons{
  vertical-align: middle;
   }
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}
{% block footer %}
<script>

            new Vue({
            el: '#app',
            delimiters: ["[[", "]]"],

            data() {
                return {
                }
            },
            methods: {

            },
            });

</script>
{% endblock %}