{% extends 'seller_app/main/main.html' %}
{% load static %}
{% block content %}
<section class="content-main" id="app">
    <form method="post" onsubmit="document.getElementById('submit_button').disabled=true" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="content-header">
            <div>
                <h4 class="content-title card-title">Yangi mahsulot qo'shish</h4>
            </div>
            <div>
                <a href="{% url 'seller_app_product_list' %}" class="btn btn-brand">

                    <i class="material-icons md-left-arrow"></i> Qaytish
                </a>
                <button class="btn btn-brand " :disabled="checkAfterSubmit()" id="submit_button" type="submit">
                    <i class="material-icons md-add"></i> Saqlash
                </button>
            </div>
        </div>
        <div class="card">
            <header class="card-header">
                <h4>Operator qo'shish uchun ma'lumotlarni to'ldiring</h4>
                {% if messages_error %}
                <div class="alert alert-danger" role="alert">
                    {{messages_error}}
                </div>
                {% endif %}
            </header>
            <div class="card-body">
                <div class="row mb-50 mt-20 order-info-wrap">
                    <div class="col-md-6">
                        <input type="hidden" name="selected_data_json" :value="PostDataJson" />
                        <h6>Mahsulot nomi</h6>
                        <input type="text" name="first_name" v-model="selected_data.name" placeholder="Mahsulot nomi"
                               required class="form-control">

                        <h6>Mahsulot haqida</h6>
                        <textarea class="form-control" name="short" v-model="selected_data.short"
                                  placeholder="Mahsulot haqida qisqacha ma'lumot"></textarea>

                        <h6>Admin to'lov</h6>
                        <input type="number" required name="seller_fee" v-model="selected_data.seller_fee"
                               placeholder="Standart admin to'lov" class="form-control">

                        <hr>
                        <h6>Sotuvdami</h6>
                        <input type="checkbox" name="is_active" v-model="selected_data.is_active" class="form-check">
                        <hr>

                        <h6>Mahsulot sotuv narxi</h6>
                        <input type="number" required name="sale_price" v-model="selected_data.sale_price"
                               placeholder="Mahsulot sotuv narxi" class="form-control">
                            <hr>

                        <h6>Yo'l kira pullik (operatorlar uchun)</h6>
                        <input type="checkbox" name="toll" v-model="selected_data.toll" class="form-check">


                    </div>
                    <div class="col-md-6">
                        <h6>Mahsulot turi</h6>
                        <select name="type" required v-model="selected_data.product_type" class="form-select">
                            <option value="1"> Donali mahsulot</option>
                            <option value="2"> Mahsulotlar to'plami</option>
                        </select>

                        <hr>

                        <div v-if="selected_data.product_type =='1' ">
                                <h6>Chgirma turi</h6>
                                <select name="bonus_type" v-model="selected_data.product_bonus_type" class="form-control">
                                    <option :value="a.id" v-for="a in data_json.product_bonus_type">[[a.name]]</option>
                                </select>

                            <div style="border:1px solid white; padding:3px; border-radius:10px;" v-if="selected_data.product_bonus_type != 0" class="mt-3">
                                <h6 v-if="selected_data.product_bonus_type===1">Nechtadan so'ng berilish ( masalan 3+1 bo'lsa bu yerga 3 yozasiz, 2+1 bo'lsa 2 yozasiz )</h6>
                                <h6 v-if="selected_data.product_bonus_type===2">Nechtadan so'ng chegirma boshlanishi ( masalan 3 chidan keyin 30 mingdan chegirma bo'lsa bu yerga 3 yozasiz  )</h6>
                                <input type="number" name="seller_fee" v-model="selected_data.product_bonus" placeholder="Boshlang'ich moqdori" required class="form-control">

                                <h6 v-if="selected_data.product_bonus_type===1">Nechta berilishi ( masalan 3+1 bo'lsa bu yerga 1 ta yozasiz, 3+2 bo'lsa 2 yozasiz )</h6>
                                <h6 v-if="selected_data.product_bonus_type===2">Har biri uchun necha puldan chegirmaligi (masalan 3 chisidan 30 mingdan chegirma bo'lsa bu yerga 30000 ming yozasiz)</h6>
                                <input type="number" name="seller_fee" v-model="selected_data.product_bonus_amount" placeholder="Beriladigan miqdor" required class="form-control">
                                <h3 style="border:1px solid #3BB77E" v-if="selected_data.product_bonus_type===1" class="badge mt-2 mb-2 text-center">Natijada bonus : mijoz [[selected_data.product_bonus]] ta olsa [[selected_data.product_bonus_amount]] ta qo'shib beriladi</h3>
                                <h3 style="border:1px solid #3BB77E" v-if="selected_data.product_bonus_type===2" class="badge mt-2 mb-2 text-center">Natijada bonus : mijoz [[selected_data.product_bonus]] ta olsa [[Number(selected_data.product_bonus)+1]] chidan harbiri uchun [[selected_data.product_bonus_amount]] so'mdan chegirma</h3>

                            </div>
                        </div>



                    </div>




                    <div class="col-md-12">
                        <hr>
                        <label>Mahsulot haqida batafsil ma'lumot</label>
                        <textarea  id="basic-example" class="form-control" name="desc"></textarea>
                    </div>
                    <div class="col-md-12 mt-2">

                        <h6>Mahsulot asosiy surati</h6>
                        <input type="file" required name="image" class="form-control">

                    </div>

                </div>
            </div>
        </div>


        <div class="row" >

            <div class="col-md-6" v-if="selected_data.product_type == '1'">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-center">Mahsulot uchun o'lchovlar</h4>
                        <p class="text-muted txt-sm text-center">Iltimos tanlashda diqqat bilan tanlang chunki keyin
                            o'zgartirishni imkoni yo'q</p>
                        <div class="row mb-50  order-info-wrap">
                            <div class="col-md-12">
                                <h6>O'lchov turlari</h6>


                                <select name="measure" v-model="measure" class="form-control">
                                    <option value="0">------</option>
                                    <option :value="a.id" :key="a.id" v-for="a in data_json.measure_list">[[a.name]]
                                    </option>
                                </select>
                                <div v-if="measure != 0">
                                    <hr>
                                    <h6 class="d-inline mr-5">O'lchov tanlang :</h6>
                                    <input type="text" class="form-control" v-model="search_measure_items"
                                           placeholder="Qidiruv" name="search">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Nomi</th>
                                            <th>Belgilash</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="a in GetMeasureItemList">
                                            <td>[[a.name]]</td>
                                            <td><input type="checkbox" v-model="selected_data.selected_measure_items"
                                                       :value="a.id" class="form-check"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-6" v-if="selected_data.product_type == '1'">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-center">Mahsulot uchun ranglar</h4>
                        <p class="text-muted txt-sm text-center">Iltimos tanlashda diqqat bilan tanlang chunki
                            tanlanganlarni keyin o'chirish imkoni yo'q faqat qo'shiladi</p>
                        <div class="row mb-50  order-info-wrap">
                            <div class="col-md-12">
                                <div>
                                    <hr>
                                    <h6 class="d-inline mr-5">Mahsulot ranglarini tanlang :</h6>
                                    <input type="text" class="form-control" v-model="search_color_name"
                                           placeholder="Qidiruv" name="search">
                                    <h6 class="text-muted">Belgilandi : [[selected_data.selected_colors.length]] ta</h6>


                                    <div class="scroll-container" style="overflow-y:scroll; height:300px;">

                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Nomi</th>
                                                <th>Rang</th>
                                                <th>Belgilash</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="a in GetColorList">
                                                <td>[[a.name]]
                                                </td>
                                                <td>
                                                    <button class=" d-inline" disabled
                                                            style="cursor:default; width:35px; height:18px; border-radius:5px;"
                                                            :style="{ backgroundColor: a.color, color: '#fff' }"></button>
                                                </td>
                                                <td><input type="checkbox" style="width:18px; height:20px;"
                                                           v-model="selected_data.selected_colors" :value="a.id"
                                                           class="form-check"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-12" v-if="selected_data.product_type == '2'">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-center">To'plam uchun mahsulotlarini tanlash</h4>
                        <div class="row mb-50 mt-20 order-info-wrap">



                            <div class="col-md-6">
                                <div class="row mb-50  order-info-wrap">
                                    <div class="col-md-12">
                                        <div>
                                            <hr>
                                            <h6 class="d-inline mr-5 text-center">Mahsulot ranglarini tanlang :</h6>
                                            <input type="text" class="form-control" v-model="search_product_name"
                                                   placeholder="Qidiruv" name="search">
                                            <h6 class="text-muted text-sm" style="border-bottom:1px solid white;">Belgilandi : [[selected_data.selected_collection.length]]
                                                ta</h6>
                                            <div class="scroll-container" style="overflow-y:scroll; height:300px;">

                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th>Nomi</th>
                                                        <th>Belgilash</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr v-for="a in GetProductList">
                                                        <td>[[a.name]]
                                                        </td>
                                                        <td><input type="checkbox" style="width:18px; height:20px;"
                                                                   v-model="selected_data.selected_collection" :value="a.id"
                                                                   class="form-check"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="row mb-50  order-info-wrap">
                                    <div class="col-md-12">
                                        <div>
                                            <hr>
                                            <h6 class="d-inline mr-5 text-center">To'plamga tanlangan mahsulotlar </h6>
                                            <div class="scroll-container" style="overflow-y:scroll; height:300px;">
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th>Nomi</th>
                                                        <th>O'chirish</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr v-for="a in data_json.product_list" v-if="isProductSelected(a.id)">
                                                        <td>[[a.name]]
                                                        </td>
                                                        <td><input type="checkbox" style="width:18px; height:20px;"
                                                                   v-model="selected_data.selected_collection" :value="a.id"
                                                                   class="form-check"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
{% endblock %}
{% block header %}
<script src="{% static '' %}js/vue.js"></script>

{% endblock %}
{% block footer %}
<script src="{% static '' %}js/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
      selector: 'textarea#basic-example',
      skin: 'oxide-dark',
      content_css:'dark',
});
</script>

<script type="text/javascript">
        new Vue({
            el: "#app",
            delimiters: ["[[", "]]"],
            data: {
                 search_measure_items:'',
                 search_color_name:'',
                 search_product_name:'',
                 measure : "0",

                 selected_data : {

                    delivery_type:'0',



                    product_bonus_type:0,
                    product_bonus:0,
                    product_bonus_amount:0,

                    selected_collection :[],
                    selected_colors :[],
                    selected_colors_data :[],
                    selected_measure_items :[],
                    selected_measure_items_data :[],
                    product_type : '1',
                    product_is_big: false,

                    standard_district_fee:0,
                    long_district_fee:0,


                    name: "",
                    short: "",
                    seller_fee: "",
                    sale_price: "",
                    is_active: false,
                    toll: false,
                    measure: "0",
                },

                data_json : {{data_json|safe}},


                product_is_big: false,
                product_type: 1,
                region: '',
                district: '',
                quarters: '',
                districtList: [],
                quartersList: [],
                search:"",
            },
            methods: {
            checkAfterSubmit() {
                return (
                  (this.selected_data.product_type === '1' &&
                    this.measure !== '0' &&
                    this.selected_data.selected_measure_items.length < 1) ||
                  (this.selected_data.product_type === '2' &&
                    this.selected_data.selected_collection.length <= 1)
                );
              },
             isProductSelected(id) {
                  return this.selected_data.selected_collection.includes(id);
                },

            onSearch() {
                  this.options = this.options.filter(option => option.name.toLowerCase().includes(this.search.toLowerCase()));
                },
                onSelect(event) {
                  this.selected = event.target.value;
                },
            },
            computed: {
                GetMeasureItemList: function () {
                   var filtered_data = this.data_json.measure_items_list.filter(list => list.measure_id === Number(this.measure))
                   return filtered_data.filter(a => a.name.toLowerCase().includes(this.search_measure_items.toLowerCase()))
                },



                GetColorList: function () {

                   var filtered_data = this.data_json.color_list
                   return filtered_data.filter(a => a.name.toLowerCase().includes(this.search_color_name.toLowerCase()))
                },

                GetProductList: function () {
                   var filtered_data = this.data_json.product_list
                   return filtered_data.filter(a => a.name.toLowerCase().includes(this.search_product_name.toLowerCase()))
                },
                GetSelectedColorJson: function () {
                      return this.data_json.color_list.filter((item) => this.selected_data.selected_colors.includes(item.id));
                },
                GetSelectedMeasureJson: function () {
                      return this.data_json.measure_items_list.filter((item) => this.selected_data.selected_measure_items.includes(item.id));
                },

                PostDataJson() {
                      return JSON.stringify(this.selected_data);
                    },

            },
        watch: {

          selected_data: function(){
                this.selected_data.selected_colors_data = []
                this.selected_data.selected_measure_items_data = this.measure
          },

          measure: function(){
                this.selected_data.selected_measure_items = []
                this.selected_data.measure = this.measure
          }
        },
        });

</script>
{% endblock %}