      .multiselect__element{
            background-color:#1e2231 !important;
            color:white !important;
      }
      .multiselect__tags{
            background-color:#1e2231 !important;
            color:white !important;
            border:1px solid #e8e8e88c;
      }
      .multiselect__single{
            background-color:#1e2231 !important;
            color:white !important;
      }
      .multiselect__input{
            background-color:#1e2231 !important;
            color:white !important;
      }