{% extends 'seller_app/main/main.html' %}
{% load static %}
{% block content %}
<section class="content-main" id="app">
    <div class="content-header">
        <h2 class="content-title">Marketologlar to'lovlari ro'yxati</h2>
        <div>
                        <a href="{% url 'seller_app_marketer_list' %}" class="btn btn-brand">Qaytish</a>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Qidiruv</h5>
                <div class="row align-items-center">
                    <div class="col-md-8 col-12 me-auto mb-md-0 mb-3">
                        <form method="get">
                            <div class="row">
                                <div class="col-8">
                                    <input type="text" class="form-control" placeholder="id, tel, ism bo'yicha qidiruv" name="search"
                                           {% if request.GET.search %}value="{{ request.GET.search }}" {% endif %}>
                                </div>

                                <div class="col-md-4">
                                    <button class="btn btn-brand" type="submit"><i class="material-icons md-search"></i>
                                    </button>
                                                                    {% if request.GET.search %}
                                      <a href="{% url 'seller_app_marketer_list' %}" class=" btn btn-danger"
                                           type="submit"><i class="material-icons md-search_off"></i></a>
                                                                    {% endif %}
                                </div>

                            </div>

                        </form>
                    </div>

                </div>
                        <h6 class="text-muted">Jami soni : {{count}} ta</h6>
<!--                        <h6 class="text-muted">Aktiv Marketologlar soni : {{active_count}} ta</h6>-->

            <div style="overflow-x:auto;">
                <table class="table table-hover" id="dataTable">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Tranzaksiya id</th>
                        <th>Holati</th>
                        <th>Turi</th>
                        <th>Miqdori</th>
                        <th>Marketolog</th>
                        <th>Kartasi</th>
                        <th>Izoh</th>
                        <th>Ma'sul</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for o in page_obj %}
                    <tr>
                        <td>
                            <a href="{% url 'seller_app_marketer_payment_details' o.id %}" class="btn btn-sm btn-brand"><i class="material-icons md-edit"></i></a>
                        </td>
                        <td>
                                                        #{{o.id}}

                        </td>
                        <td>
                            {% if o.status == '1' %}
                            <span class="badge badge-soft-info">{{o.get_status_display}}</span>
                            {% elif o.status == '2' %}
                            <span class="badge badge-soft-success">{{o.get_status_display}}</span>
                            {% elif o.status == '3' %}
                            <span class="badge badge-soft-danger">{{o.get_status_display}}</span>
                            {% endif %}


                        </td>
                        <td>
                            <span class="badge" style="border:1px solid white;">{{o.get_type_display}}</span>
                        </td>
                        <td>
                            <h6 class="d-inline">
                                {{o.amount}}
                            </h6>uzs
                        </td>
                        <td>
                            {{o.user.first_name}} {{o.user.last_name}} <br>
                            +{{o.user.username}}
                        </td>


                        <td>
                            {% if o.payment_card %}
                            {{ o.payment_card }}
                            {% else %}
                            --------
                            {% endif %}
                        </td>
                        <td>
                            {{o.desc}}
                        </td>
                        <td>
                            {{o.responsible.first_name}} {{o.responsible.last_name}}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>



                                        <div class="row ">
 <div class="col-md-12 mr-auto mt-auto pagination justify-content-center">
                </div>
                <div class=" col-md-12 pagination justify-content-center mt-5">
                                                    <span class="step-links mr-auto ml-auto">
                                                        {% if page_obj.has_previous %}
                                                            <a href="?page=1{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" class="btn btn-sm btn-brand  "><<</a>
                                                            <a href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                                                               class="btn btn-sm btn-brand "><</a>
                                                        {% endif %}
                                                        <!--of {{ page_obj.paginator.num_pages }}.Page-->
                                                    <span class="h6 mr-10 ml-10"> {{ page_obj.number }}</span>
                                                        {% if page_obj.has_next %}
                                                            <a href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                                                               class="btn btn-sm btn-brand">></a>
                                                            <a href="?page={{ page_obj.paginator.num_pages }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                                                               class="btn btn-sm btn-brand ">>></a>
                                                        {% endif %}
                                                    </span>

                </div>
                                        <h6 class="text-center mt-2 text-muted">Jami sahifa soni : {{ page_obj.paginator.num_pages }} ta</h6>

            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block header %}
        <link href="{% static '' %}css/table_custom.css" rel="stylesheet" type="text/css">

{% endblock %}