{% extends 'main/main.html' %}
{% load static %}
{% block content %}
<section class="content-main" id="app">
    <div class="content-header">
        <h4 class="content-title">Qadoqlaniyotgan buyurtmalarni chop etish</h4>
        <div>
            <a href="{% url 'warehouse_product_attachment_history' %}" class="btn btn-brand btn-sm"> Qaytish</a>

        </div>
    </div>
    <div class="card mb-4">
        <header class="card-header">
                    <div class="row">
                        <div class="col-md-4">
                            <h6>Mahsulot bo'yicha filter</h6>
                            <select name="" v-model="selected_product" class="form-control">
                                <option value="1" selected>---------</option>
                                <option :value="o.product_id" v-for="o in order_products">[[o.product__name]] Buyurtma soni : [[o.total_order_amount]] ta</option>

<!--                                {% for p in products %}-->
<!--                                <option value="{{p.id}}">{{p.name}}</option>-->
<!--                                {% endfor %}-->
                            </select>
                        </div>
                        <div class="col-md-3">
                            <h6>Viloyat bo'yicha filter</h6>
                            <select v-model="selected_region" class="form-control">
                                <option value="0" selected>---------</option>
                                {% for i in region %}
                                <option value="{{i.id}}">{{i.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label>Sahifadagi chek uzunligi</label>
                            <input type="number" v-model="order_length" style="min-width:200px;"
                                   value="50" name=""
                                   placeholder="Nomi bo'yicha qidiruv" class="form-control">
                        </div>


                        <div class="col-md-2">
                            <h6>Qo'llash</h6>
                            <button class="btn btn-brand " type="button" @click="filter()"><i
                                    class="material-icons md-search"></i></button>
                            <button class="btn btn-danger" type="button" @click="end_search()"><i
                                    class="material-icons md-cancel"></i></button>
                        </div>

                    </div>
        </header>
    </div>

    <div class="card">
        <div class="card-header">
            <div class="pagination-area mb-10">
                <nav aria-label="Page navigation example">
                    <div class="mb-3 text-center">
                        <div v-if="has_next">

                            <a class="btn btn-brand btn-sm m-auto" style="width:70%;"
                               @click="goToNextPage()">
                                <span class="m-auto">Keyingi sahifaga o'tish ></span> </a>
                        </div>

                    </div>
                    <ul class="pagination justify-content-center">
                        <li class="page-item" v-if="has_previous">
                            <a class="badge page-link" style="background-color:#4d5561;" @click="goToFirstPage()">
                                < </a>
                        </li>
                        <li class="page-item" v-if="has_previous && (page-2) !== (page-1) && (page-2) > 0">
                            <a class="badge page-link" style="background-color:#4d5561;" @click="goToThisPage(page-2)">[[page-2]]</a>
                        </li>
                        <li class="page-item" v-if="has_previous">
                            <a class="badge page-link" style="background-color:#4d5561;" @click="goToPreviousPage()">[[page-1]]</a>
                        </li>
                        <li class="page-item active">
                            <span class="badge btn-brand page-link" href="#"> [[page]]</span>
                        </li>
                        <li class="page-item" v-if="has_next===true">
                            <a class="badge page-link" style="background-color:#4d5561;" @click="goToNextPage()"
                            >[[page+1]]</a></li>

                        <li class="page-item" v-if="has_next ===true && (page+2) < total_pages">
                            <a class="badge page-link" style="background-color:#4d5561;" @click="goToThisPage(page+2)"
                            >[[page+2]]</a></li>
                        <li class="page-item" v-if="has_next">
                            <button type="button" class="badge page-link" style="background-color:#4d5561;"
                                    @click="goToLastPage()"> >
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
        <div class="text-center">
            <h4 class="text-white badge text-center d-inline" style="border:1px solid white;">Jami buyurtma soni : [[total_order_count]] ta</h4>
            <h4 class="text-white badge text-center d-inline" style="border:1px solid white;">Shu sahifadagi buyurtma soni : [[order_count]] ta</h4>
        </div>

        </div>
        <div class="card-body" v-if="loading===true">
            <div id="loading">
                <div class="text-center mt-20 mb-20 m-auto loader"></div>
                <h6 class="text-center">Bajarilmoqda...</h6>
            </div>
        </div>

        <div class="card-body "  v-if="loading===false">

            <button class="btn" style="background-color:#1d7f7a;" @click="print_div()" type="button" >
                <i class="material-icons md-print"></i> Chop etish
            </button>

            <div id="printableAreaMain">
            <div id="printableArea" class="text-center mr-auto ml-auto m-auto" style="padding:0px !important;">
                <div class="example_box bg-white" v-for="(order, index) in order_list"
                     style=" padding:0px !important;">
                    {% include 'print/print_vue.html' %}
                </div>
            </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block header %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Coiny&display=swap">
<!--    <link href="{% static '' %}css/print.css" rel="stylesheet" type="text/css"/>-->

    <style>
    .swal2-title {
            color: black !important;
        }
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

    </style>
    <style>

.font-coiny{
     font-family: 'Coiny', sans-serif !important;
    font-weight:300 !important;

}


table, th, td{
    border: 1px solid #000000 !important;
    padding: 0px !important;
    font-size : 11px !important;
    color : black !important;
    font-weight:900 !important;
    font-family: system-ui !important;
}


.example_box {
  box-sizing: content-box;

  width: 301.5px !important;
  max-width: 301.5px !important;
  min-width: 301.5px !important;
  height: 227.5px !important;
  max-height: 227.5px !important;
  min-height: 227.5px !important;

   margin:1px;
  padding: 3px;
  display:block !important;
  overflow: hidden;
  box-sizing: border-box;
}
 .barcode-material-icons{
  vertical-align: middle;
  font-size: 11px !important;
   color : black !important;
  }


  .item-line{
    color : black !important;
    font-weight:300 !important;
    font-size: 7px !important;
    display:block;
     font-family: 'Coiny', sans-serif !important;
    margin-top:3px;
  }


    .total-price-span{
        font-family: 'Coiny', sans-serif !important;
        color : black !important;
        font-weight:400 !important;
        font-size: 10px !important;
        text-align: center !important;
    }

.product-list-price-span{
    white-space: nowrap;
    font-size: 11px !important;
    padding:1px !important;
}
.product-list-collection-item-span{
    font-size: 9px !important;
    border:1px solid black;
    border-radius:5px;
    padding:1px;
    padding-left:2px;
    padding-right:2px;
}

  .product-list-span{
        color : black !important;
        line-height:1.2 !important;
        font-family: system-ui !important;
        font-weight:900 !important;
        font-size: 11px !important;
        text-align: center !important;
        display:block;
        border:0.1px solid black;
        border-radius:5px;padding:1px !important;
  }


  @page {
  margin: 0;

    </style>{% endblock %}
{% block footer %}
<script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.6/dist/barcodes/JsBarcode.ean-upc.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.6/dist/JsBarcode.all.min.js"></script>

<div id="my_scripts">
<script>
    function printDivs(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
    }
</script>
    <script src="{% static '' %}js/vue.js"></script>

</div>
    <script src="{% static '' %}js/axios.min.js"></script>

<script>
axios.defaults.xsrfCookieName = 'csrftoken'
axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
JsBarcode(".barcode").init();


            new Vue({
            debug: false,
            el: "#app",
            delimiters: ["[[", "]]"],
            data: {
                order_type: 0,
                total_number_of_prints: 0,
                total_number_of_unprinted: 0,

                printDiv : null,


                //order_list :[],
                order_list :[],
                order_count :0,
                total_order_count :0,
                total_unprinted_order_count :0,
                total_printed_order_count :0,

                order_products :[],
                product_list :[],
                selected_product :0,

                selected_region :0,
                print_type :0,

                order_length :25,

                loading: false, // Yükleme durumu

                error: null, // Hata mesajı

                page: 1, // Şu anki sayfa numarası
                has_next: true, // Sonraki sayfa var mı?
                has_previous:false,
                total_pages : 1, // jami sahifa soni
            },
            created(){
                this.loadOrders();
            },

              mounted() {
              },
            methods:{
            print_div(){


                const printableContent = document.getElementById('printableAreaMain')
                const printableScript = document.getElementById('my_scripts')
                      const printWindow = window.open('', '', 'height=1000,width=1000')
                      printWindow.document.write(`<html><head>
                          <link href="{% static '' %}css/main.css?v=1.1" rel="stylesheet" type="text/css"/>
                          <link href="{% static '' %}css/print_all.css" rel="stylesheet" type="text/css"/>
                              <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Coiny&display=swap">

                              <style>
                              .check-print{
                                    display:none !important;
                                }
                              </style>
                      </head><body>  <div> <button class="btn btn-primary" onclick="printDivs('printableArea')" type="button">Chop etish</button></div> <div id="print_div">`);

                      printWindow.document.write(printableContent.innerHTML)

                                printWindow.document.write(`</div>`)

                      printWindow.document.write(printableScript.innerHTML)

                                printWindow.document.write(`</body></html></head>`)

               printWindow.document.close();
               // printWindow.print();

                printWindow.addEventListener('afterprint', () => {
                    printWindow.close();
                });

                    },

                end_search:function() {
                    this.selected_product=0
                    this.selected_region=0
                    this.order_type=0
                    this.print_type=0
                     this.loadOrders();

                    },
                    filter:function() {
                     this.loadOrders();

                    },


                generateBarcode: async function(barcode) {
                    const barcodeElement = document.getElementById('barcode' + barcode);
                            if (barcodeElement) {
                                JsBarcode(barcodeElement, barcode.toString(), {
                                    format: "EAN13",
                                    width: 2,
                                    height: 40,
                                    margin: 0,
                                    fontSize: 9.5,
                                    textMargin: -1.5,
                                    flat: true,
                                    textAlign: "center",
                                    fill: "rgba(0,0,0,0.5)",
                                    fontOptions: 'bold'
                                });
                            } else {
                                console.error("Barcode element with ID 'barcode" + barcode + "' not found.");
                            }
                },
                     loadOrders:async function() {
                      this.loading = true;
                      this.error = null;
                      await axios.get(`{% url 'warehouse_product_attachment_print_api' %}?page=${this.page}&status=8&region=${this.selected_region}&product=${this.selected_product}&order_length=${this.order_length}`,{
                      headers: {
                        'Content-Type': 'application/json'
                      }})
                        .then((response) => {
                          const data = response.data;
                          if (data.status == 200){
                            //console.log('12312')
                            console.log(data.data)
                              this.has_next = data.has_next;
                              this.has_previous = data.has_previous;
                              this.total_pages = data.num_pages;
                              this.order_list = data.data
                              this.order_count = data.order_count
                              this.total_order_count = data.total_order_count
                              this.order_products = data.order_products


                              //this.orders = data.data.slice().sort(() => Math.random() - 0.5);
                              this.loading = false;

                              this.total_unprinted_order_count = data.total_unprinted_order_count;
                              this.total_printed_order_count = data.total_printed_order_count;



                        setTimeout(() => {
                                          this.order_list.forEach((item, index) => {
                                            this.generateBarcode(item.barcode);
                                          });
                                        }, 500); // 2 saniye gecikme


                            }else if(data.status == 404){

                              this.error = data.message;
                              this.loading = false;
                              this.is_disable = true;
                            }

                        })
                        .catch((error) => {
                          this.error = error.message;
                          this.loading = false;
                          this.is_disable = true;

                        });
                    },


                    goToNextPage() {
                        if (this.has_next) {
                            this.page++;
                            this.loadOrders();
                            window.scrollTo(0, 0);
                        }
                        },
                        goToFirstPage() {
                        if (this.has_previous) {
                            this.page=1;
                            this.loadOrders();
                            window.scrollTo(0, 0);
                        }
                        },
                        goToThisPage(number) {
                            this.page=number;
                            this.loadOrders();
                            window.scrollTo(0, 0);
                        },

                        goToLastPage() {
                        if (this.has_next) {
                            this.page= Number(this.total_pages);
                            this.loadOrders();
                            window.scrollTo(0, 0);
                        }
                        },
                        goToPreviousPage() {
                        if (this.has_previous) {
                            this.page--;
                            this.loadOrders();
                            window.scrollTo(0, 0);
                        }
                        },

                checkedPrintedOrders: async function(){


                        let self = this

                    Swal.fire({
                        title: "Qaoqlanmoqdaga o'tkazilsinmi?",
                        showCancelButton: true,
                        cancelButtonText: 'Yo\'q',
                        confirmButtonText: 'O\'tkazish',
                        confirmButtonColor: 'question',
                    }).then((result) => {
                        if (result.isConfirmed) {



                        const new_list = self.order_list.map(item => item.id);
                          this.loading = true;

                                         axios.post(`{% url 'warehouse_product_attachment_print_api' %}`, {
                                                                                                orders_id: new_list,
                                                                                              })
                                                                                              .then(function (response) {
                                                                                                if(response.data.status == 200){
                                                                                                  }
                                                                                                    Swal.fire({
                                                                                                  position: 'center',
                                                                                                  icon: 'success',
                                                                                                  title: "Qadoqlanmoqdaga o'tkazildi",
                                                                                                  showConfirmButton: false,
                                                                                                  timer: 1000
                                                                                                })

                                                                                                self.loadOrders();


                                                                                          })
                                                                                          .catch(function (error) {
                                                                                             self.loading = false;
                                                                                            Swal.fire({
                                                                                              icon: 'error',
                                                                                              title: 'Oops...',
                                                                                              text: '${error}',
                                                                                              footer: '<p>Muammo yuzaga keldi</p>'
                                                                                            })

                                                                                          });

                        self.loading = false;



                        }

                        });
                }

            },

            computed: {
             },
            watch:{

            order_list:function(){

            }

            }
        });

</script>

{% endblock %}