{% extends 'seller_app/main/main.html' %}
{% load static %}
{% block content %}
<section class="content-main" id="app">
    <div class="content-header">
        <h2 class="content-title">Operatorlar ro'yxati</h2>
        <div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            {% if perms.admin.seller_app_operator_create %}
            <a href="{% url 'seller_app_operator_create' %}" class="btn btn-brand btn-sm"><i class="material-icons md-add"></i> Yangi operator qo'shish</a>
            {% endif %}
            {% if perms.admin.seller_app_operator_statistic_list %}
            <a href="{% url 'seller_app_operator_statistic_list' %}" class="btn btn-brand btn-sm">
                Statistikali ro'yxat
            </a>
            {% endif %}
            {% if perms.admin.seller_app_operator_date_by_statistic %}
            <a href="{% url 'seller_app_operator_date_by_statistic' %}" class="btn btn-brand btn-sm">
                Sana bo'yicha hisobot
            </a>
            {% endif %}
            {% if perms.admin.seller_app_operator_order_list %}
            <a href="{% url 'seller_app_operator_order_list' %}" class="btn btn-brand btn-sm">
                Buyurtmalar boshqaruvi
            </a>
            {% endif %}
<!--            <a href="" class="btn btn-primary">To'lovlari</a>-->
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Qidiruv</h5>
                <div class="row align-items-center">
                    <div class="col-md-8 col-12 me-auto mb-md-0 mb-3">

                        <form method="get">
                            <div class="row">
                                <div class="col-8">
                                    <input type="text" class="form-control" placeholder="id, tel, ism bo'yicha qidiruv" name="search"
                                           {% if request.GET.search %}value="{{ request.GET.search }}" {% endif %}>
                                </div>

<!--                                {% if request.GET.search %}-->
<!--                                    <div class="col-2">-->
<!--                                        <a href="{% url 'operator_management_list' %}" class="btn btn-danger"-->
<!--                                           type="submit"><i class="material-icons md-search_off"></i></a>-->
<!--                                    </div>-->
<!--                                {% endif %}-->
                                <div class="col-md-4">
                                                                    {% if request.GET.search %}

                                      <a href="{% url 'seller_app_operator_list' %}" class=" btn btn-danger"
                                           type="submit"><i class="material-icons md-search_off"></i></a>

                                                                    {% endif %}


                                    <button class="btn btn-brand" type="submit"><i class="material-icons md-search"></i>
                                    </button>
                                </div>

                            </div>

                        </form>
                    </div>

                </div>
                        <h6 class="text-muted">Jami operatorlar soni : {{count}} ta</h6>
                        <h6 class="text-muted">Aktiv operatorlar soni : {{active_count}} ta</h6>

            <div style="overflow-x:auto;">
                <table class="table table-hover" id="dataTable">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Fio</th>
                        <th>Tel</th>
                                                <th>Holat</th>

                        <th>#Id</th>
                        <th>Kartasi</th>
                        <th>Aktivmi</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for o in page_obj %}
                    <tr>
                        <td>
                            {% if perms.admin.seller_app_operator_edit %}
                            <a href="{% url 'seller_app_operator_edit' o.id %}" class="btn btn-brand btn-sm">
                                <i class="material-icons md-edit"></i> O'zgartirish</a>
                            {% endif %}
                            {% if perms.admin.seller_app_operator_payment_list %}
                            <a href="{% url 'seller_app_operator_payment_list' o.id %}" class="btn btn-brand btn-sm">
                                <i class="material-icons md-payment"></i> To'lov</a>
                            {% endif %}
                            {% if perms.admin.seller_app_operator_details %}
                            <a href="{% url 'seller_app_operator_details' o.id %}" class="btn btn-brand btn-sm">
                                <i class="material-icons md-payment"></i> Hisobot</a>
                            {% endif %}
                        </td>
                        <td>
                            {{ o.first_name }} {{o.last_name}}
                        </td>
                        <td>
                            +{{ o.username }}
                        </td>
                                                <td>
                            {% with order_amount=o.operator_data.order_amount_today %}
                            <span class="badge  {% if order_amount < o.operator_data.operator_daily_limit %}btn-danger{% else %}btn-brand{% endif %}">Bugun {{ order_amount }} ta kiritdi</span>
                        {% endwith %}
                        </td>



                        <td>#{{ o.operator_id }}</td>
                        <td>{{ o.payment_card }}</td>
                        <td>
                            {% if o.is_active == True %}
                            <span class="material-icons md-check badge-soft-success"></span>
                            {% else %}
                            <span class="material-icons md-cancel badge-soft-danger"></span>
                            {% endif %}
                        </td>

                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>



                                        <div class="row ">
 <div class="col-md-12 mr-auto mt-auto pagination justify-content-center">
                </div>
                <div class=" col-md-12 pagination justify-content-center mt-5">
                                                    <span class="step-links mr-auto ml-auto">
                                                        {% if page_obj.has_previous %}
                                                            <a href="?page=1{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" class="btn btn-sm btn-brand  "><<</a>
                                                            <a href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                                                               class="btn btn-sm btn-brand "><</a>
                                                        {% endif %}
                                                        <!--of {{ page_obj.paginator.num_pages }}.Page-->
                                                    <span class="h6 mr-10 ml-10"> {{ page_obj.number }}</span>
                                                        {% if page_obj.has_next %}
                                                            <a href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                                                               class="btn btn-sm btn-brand">></a>
                                                            <a href="?page={{ page_obj.paginator.num_pages }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                                                               class="btn btn-sm btn-brand ">>></a>
                                                        {% endif %}
                                                    </span>

                </div>
                                        <h6 class="text-center mt-2 text-muted">Jami sahifa soni : {{ page_obj.paginator.num_pages }} ta</h6>

            </div>
        </div>
    </div>
</section>
{% endblock %}