{% extends 'seller_app/main/main.html' %}
{% load static %}
{% block content %}
<section class="content-main" id="app">
    <div class="content-header">
        <h2 class="content-title">Operatorlar statistikali ro'yxati</h2>
        <div>
                        <a href="{% url 'seller_app_operator_list' %}" class="btn-sm btn btn-brand">Oddiy ro'yxatga qaytish</a>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
                 <h5 class="card-title">Qidiruv</h5>
                <div class="row align-items-center">
                    <div class="col-md-8 col-12 me-auto mb-md-0 mb-3">

                        <form method="get">
                            <div class="row">
                                <div class="col-8">
                                    <input type="text" class="form-control" placeholder="id, tel, ism bo'yicha qidiruv" name="search"
                                           {% if request.GET.search %}value="{{ request.GET.search }}" {% endif %}>
                                </div>

                                <div class="col-md-4">
                                                                    {% if request.GET.search %}

                                      <a href="{% url 'seller_app_operator_management_statistic_list' %}" class=" btn btn-danger"
                                           type="submit"><i class="material-icons md-search_off"></i></a>

                                                                    {% endif %}


                                    <button class="btn btn-brand" type="submit"><i class="material-icons md-search"></i>
                                    </button>
                                </div>

                            </div>

                        </form>
                    </div>

                </div>
                        <h6 class="text-muted">Operatorlar soni : {{count}} ta</h6>

            <div style="overflow-x:auto;">
                <table class="table table-hover" id="dataTable">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Fio</th>
                        <th>Aktivmi</th>
                        <th>Hold balans</th>
                        <th>Balansi</th>
                        <th>Karta raqami</th>

                        <th>Belgilangan daromadi</th>
                        <th>Holat</th>

                            <th>Bu oy kiritdi</th>
                            <th>1 oy oldin kiritdi</th>
                            <th>Jami kiritdi</th>
<!--                        <th>7kunlik kiritganlari</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    {% for o in page_obj %}
                    <tr>
                        <td>
                            <a href="{% url 'seller_app_operator_details' o.id %}" class="btn btn-brand btn-sm">
                                <i class="material-icons md-payment"></i> Hisobot</a>
                        </td>
                        <td>
                            {{ o.first_name }} {{o.last_name}}
                            <br> +{{ o.username }}
                        </td>
                        <td>
                            {% if o.is_active == True %}
                            <span class="material-icons md-check badge-soft-success"></span>
                            {% else %}
                            <span class="material-icons md-cancel badge-soft-danger"></span>
                            {% endif %}
                        </td>
                        <td>{{ o.operator_data.hold }} so'm</td>
                        <td>{{ o.operator_data.balance }} so'm</td>

                        <td>
                            {% if o.payment_card %}
                            {{o.payment_card}}
                            {% else %}
                            Kiritilmagan
                            {% endif %}

                        </td>
                        <td>{{o.special_fee_amount}} so'm</td>

                                     <td>
                            {% with order_amount=o.operator_data.order_amount_today %}
                            <span class="badge  {% if order_amount < o.operator_data.operator_daily_limit %}btn-danger{% else %}btn-brand{% endif %}">Bugun {{ order_amount }} ta kiritdi</span>
                        {% endwith %}
<!--                           <span class="badge  {% if o.operator_data.order_amount_today < 30 %}btn-danger{% else %}btn-brand{% endif %}">Bugun {{o.operator_data.order_amount_today}} ta kiritdi</span>-->
                        </td>
                            <td>{{ o.operator_data.order_amount_this_month }} ta</td>
                            <td>{{ o.operator_data.order_amount_one_month_ago }} ta</td>
                            <td>{{ o.operator_data.total_order_amount }} ta</td>
<!--                        <td>-->
<!--                            {% for a in o.operator_data.input_order_from_date %}-->
<!--                            <span class="badge badge-soft-success">sana : {{ a.date}}  , kiritdi : {{a.result}} ta</span>-->
<!--                            {% endfor %}-->
<!--&lt;!&ndash;                            <span>Bugun :{{ o.operator_data.input_order_from_date.0 }}</span>,&ndash;&gt;-->
<!--&lt;!&ndash;                            <span>Kecha :{{ o.operator_data.input_order_from_date.1 }}</span>,&ndash;&gt;-->
<!--&lt;!&ndash;                            <span>1 kun oldin :{{ o.operator_data.input_order_from_date.2 }}</span>,&ndash;&gt;-->
<!--&lt;!&ndash;                            <span>2 kun oldin :{{ o.operator_data.input_order_from_date.3 }}</span>,&ndash;&gt;-->
<!--&lt;!&ndash;                            <span>3 kun oldin :{{ o.operator_data.input_order_from_date.4 }}</span>,&ndash;&gt;-->
<!--&lt;!&ndash;                            <span>4 kun oldin :{{ o.operator_data.input_order_from_date.5 }}</span>,&ndash;&gt;-->
<!--&lt;!&ndash;                            <span>5 kun oldin :{{ o.operator_data.input_order_from_date.6 }}</span>,&ndash;&gt;-->
<!--&lt;!&ndash;                            <span>6 kun oldin :{{ o.operator_data.input_order_from_date.7 }}</span>,&ndash;&gt;-->

<!--&lt;!&ndash;                            {{ o.operator_data.input_order_from_date }} so'm&ndash;&gt;-->
<!--                        </td>-->
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
                     <div class="row ">
 <div class="col-md-12 mr-auto mt-auto pagination justify-content-center">
                </div>
                <div class=" col-md-12 pagination justify-content-center mt-5">
                                                    <span class="step-links mr-auto ml-auto">
                                                        {% if page_obj.has_previous %}
                                                            <a href="?page=1{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" class="btn btn-sm btn-brand  "><<</a>
                                                            <a href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                                                               class="btn btn-sm btn-brand "><</a>
                                                        {% endif %}
                                                        <!--of {{ page_obj.paginator.num_pages }}.Page-->
                                                    <span class="h6 mr-10 ml-10"> {{ page_obj.number }}</span>
                                                        {% if page_obj.has_next %}
                                                            <a href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                                                               class="btn btn-sm btn-brand">></a>
                                                            <a href="?page={{ page_obj.paginator.num_pages }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                                                               class="btn btn-sm btn-brand ">>></a>
                                                        {% endif %}
                                                    </span>

                </div>
                                        <h6 class="text-center mt-2 text-muted">Jami sahifa soni : {{ page_obj.paginator.num_pages }} ta</h6>

            </div>


        </div>
        <!-- card-body end// -->
    </div>
</section>
{% endblock %}
