{% extends 'main/main.html' %}
{% load static %}
{% block content %}
<section class="content-main" id="app">
    <form method="post">
        {% csrf_token %}
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Buyurtmani o'zgartirish</h2>
                
                {% if o.site_order_id %}
                {{o.get_site_display}}dagi buyurtma id si: {{o.site_order_id}}
                {% endif %}
                
            </div>
            <div>
                <a href="{% url 'order_list' %}" class="btn btn-brand btn-sm"><i
                        class="material-icons md-arrow_left"></i> Qaytish</a>
                <a href="{% url 'order_print' order.id %}" target="_blank" type="submit" class="btn btn-brand btn-sm"><i
                        class="material-icons md-print"></i> Chop etish</a>
                <button type="submit" class="btn btn-brand btn-sm"><i class="material-icons md-add"></i> Saqlash</button>
            </div>
        </div>
        <div class="card">
            <header class="card-header">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 mb-lg-0 ">
                        <span> <i
                                class="material-icons md-calendar_today"></i> <b>{{ order.created_at|date:"Y-m-d h:i" }}</b> </span>
                        <br>
                        <small class="text-muted">Buyurtma ID: {{ order.id }}</small>

                    </div>
                    <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                        <label>Holati :</label>
                        <input type="text" class="form-control d-inline-block mb-lg-0 mr-5 mw-200" disabled value="{{order.get_status_display}}">
                        <br>
                    </div>



                </div>
            </header>
            <!-- card-header end// -->
            <div class="card-body">
                <div class="row mb-50 mt-20 order-info-wrap">
                    {# col customer about #}
                    <div class="col-md-6">

                        <article class="icontext align-items-start">
                                    <span class="icon icon-sm rounded-circle bg-primary-light">
                                        <i class="text-primary material-icons md-headset_mic"></i>
                                    </span>
                            <div class="text">
                                <h5 class="mt-3">Operator</h5>

                            </div>
                        </article>
                        <hr>

                        <table class="table">
                            <tbody>
                            <tr>
                                <th><span class="text-muted">Operator FISH</span></th>
                                <td><h6>{{ order.operator.first_name }} {{ order.operator.last_name }}</h6></td>
                            </tr>
                            <tr>
                                <th><span class="text-muted">Operator tel</span></th>
                                <td><h6>+{{ order.operator.username }}</h6></td>
                            </tr>
                            <tr>
                                <th><span class="text-muted">Operator ulushi</span></th>
                                <td><h6>{{ order.operator_fee }}</h6></td>
                            </tr>
                            <tr>
                                <th><span class="text-muted">Operator izohi</span></th>
                                <td><h6>{{order.operator_note}}</h6></td>
                            </tr>
                            </tbody>
                        </table>
                        <hr>


                        <article class="icontext align-items-start">
                                    <span class="icon icon-sm rounded-circle bg-primary-light">
                                        <i class="text-primary material-icons md-person"></i>
                                    </span>
                            <div class="text">
                                <h5 class="mt-3">Seller</h5>

                            </div>
                        </article>
                        <hr>

                        <table class="table">
                            <tbody>
                            <tr>
                                <th><span class="text-muted">Seller FISH</span></th>
                                <td><h6>{{ order.seller.first_name }} {{ order.seller.last_name }}</h6></td>
                            </tr>
                            <tr>
                                <th><span class="text-muted">Seller tel</span></th>
                                <td><h6>+{{ order.seller.username }}</h6></td>
                            </tr>
                            <tr>
                                <th><span class="text-muted">Seller ulushi</span></th>
                                <td><h6>{{ order.seller_fee }} uzs</h6></td>
                            </tr>
                            </tbody>
                        </table>
                        <hr>


                        <article class="icontext align-items-start">
                                    <span class="icon icon-sm rounded-circle bg-primary-light">
                                        <i class="text-primary material-icons md-person"></i>
                                    </span>
                            <div class="text">
                                <h5 class="mt-3">Marketolog</h5>

                            </div>
                        </article>
                        <hr>

                        <table class="table">
                            <tbody>
                            <tr>
                                <th><span class="text-muted">Marketolog FISH</span></th>
                                <td><h6>{{ order.marketer.first_name }} {{ order.marketer.last_name }}</h6></td>
                            </tr>
                            <tr>
                                <th><span class="text-muted">Marketolog tel</span></th>
                                <td><h6>+{{ order.marketer.username }}</h6></td>
                            </tr>
                            <tr>
                                <th><span class="text-muted">Marketolog ulushi</span></th>
                                <td><h6>{{ order.marketer_fee }} uzs</h6></td>
                            </tr>
                            <tr>
                                <th><span class="text-muted">Marketolog Oqim</span></th>
                                <td>{% if order.marketer_stream %}<h6>ID:{{order.marketer_stream.id}} - Nomi:{{ order.marketer_stream.name }}{% else %}-----------{% endif %}</h6></td>
                            </tr>
                            </tbody>
                        </table>
                        <hr>









<!--                        <label>Buyurtma kelgan sana</label>-->
<!--                        <h6>{{ o.created_at}}</h6>-->
                        <!--<input type="date" name="order_date" value="{{ o.created_at|date:"Y-m-d" }}" readonly required-->
                        <!--class="form-control">-->
<!--                        <label>Buyurtma Topshirish sanasi</label>-->
<!--                        <h6>{{ o.delivered_date|date:"Y-m-d" }}</h6>-->
                        <!--<input type="date" class="form-control" value="{{ o.delivered_date|date:"Y-m-d" }}" readonly-->
                        <!--required name="delivered_date">-->




                    </div>

                    <div class="col-md-6">

                        <article class="icontext align-items-start">
                                    <span class="icon icon-sm rounded-circle bg-primary-light">
                                        <i class="text-primary material-icons md-person"></i>
                                    </span>
                            <div class="text">
                                <h6 class="mb-1 text-center">Mijoz</h6>
                            </div>
                        </article>
                        <hr>

                        <table class="table">
                            <tbody>
                            <tr>
                                <th><span class="text-muted">Mijoz ismi</span></th>
                                <td><h6>{{ order.customer_name }}</h6></td>
                            </tr>
                            <tr>
                                <th><span class="text-muted">Mijoz tel</span></th>
                                <td><h6>{{ order.customer_phone }}</h6></td>
                            </tr>
                            <tr>
                                <th><span class="text-muted">Mijoz tel 2</span></th>
                                <td><h6>{% if order.customer_phone2 %}{{ order.customer_phone2 }}{% else %}------------{% endif %}</h6></td>
                            </tr>
                            <tr>
                                <th><span class="text-muted">Viloyat</span></th>
                                <td><h6>{% if order.customer_region %}{{ order.customer_region.name }}{% else %}------------{% endif %}</h6></td>
                            </tr>
                            <tr>
                                <th><span class="text-muted">Tuman</span></th>
                                <td><h6>{% if order.customer_district %}{{ order.customer_district.name }}{% else %}------------{% endif %}</h6></td>
                            </tr>
                            <tr>
                                <th><span class="text-muted">Ko'cha, Mo'ljal</span></th>
                                <td><h6>{% if order.customer_street %}{{ order.customer_street }}{% else %}------------{% endif %}</h6></td>
                            </tr>
                            </tbody>
                        </table>

                        <hr>


                        {% if order.driver %}
                        <article class="icontext align-items-start">
                                    <span class="icon icon-sm rounded-circle bg-primary-light">
                                        <i class="text-primary material-icons md-person"></i>
                                    </span>
                            <div class="text">
                                <h5 class="mt-3">Haydovchi</h5>

                            </div>
                        </article>
                        <hr>
                        <table class="table">
                            <tbody>
                            <tr>
                                <th><span class="text-muted">Haydovchi FISH</span></th>
                                <td><h6>{{ order.driver.first_name }} {{ order.driver.last_name }}</h6></td>
                            </tr>
                            <tr>
                                <th><span class="text-muted">Haydovchi tel</span></th>
                                <td><h6>+{{ order.driver.username }}</h6></td>
                            </tr>
                            <tr>
                                <th><span class="text-muted">Haydovchi ulushi</span></th>
                                <td><h6>{{ order.driver_fee }} uzs</h6></td>
                            </tr>
                            <tr>
                                <th><span class="text-muted">Haydovchi to'lov holati</span></th>
                                <td><h6>{{order.get_total_driver_payment_status_display}}</h6></td>
                            </tr>
                            </tbody>
                        </table>
                        <hr>
                        {% endif %}
                        <article class="icontext align-items-start">
                                    <span class="icon icon-sm rounded-circle bg-primary-light">
                                        <i class="text-primary material-icons md-history"></i>
                                    </span>
                            <div class="text">
                                <h5 class="mt-3">Tarixi</h5>

                            </div>
                        </article>
                        <hr>


                        <table class="table">
                            <tbody>
                            <tr>
                                <th><span class="text-muted">Buyurtma kelgan joy</span></th>
                                <td><h6>{{ order.get_where_come_from_display }}</h6></td>
                            </tr>
                            <tr>
                                <th><span class="text-muted">Buyurtmachi ip</span></th>
                                <td><h6>{{ order.ip }}</h6></td>
                            </tr>
                            <tr>
                                <th><span class="text-muted">User agent</span></th>
                                <td><h6>{{order.user_agent}}</h6></td>
                            </tr>
                            </tbody>
                        </table>
                        <hr>

                    </div>



                    <div class="col-md-12">
                        <h6>Mahsulotlar</h6>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Nomi</th>
                                <th>Turi</th>
                                <th>O'lchami</th>
                                <th>Rangi</th>
                                <th>Soni</th>
                                <th>Dona narxi</th>
                                <th>Yo'l kira</th>
                                <th>Jami narxi</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order_product in order_products %}
                            <tr>
                                <td>
                                    {{order_product.product.name}}
                                </td>
                                <td>
                                    {{order_product.get_product_type_display}}
                                </td>
                                <td>
                                    {% if order_product.product_variable and order_product.product_variable.measure_item  %}
                                    {{order_product.product_variable.measure_item.name}}
                                    {% else %}
                                    ------------
                                    {% endif %}
                                </td>
                                <td>
                                    {% if order_product.product_variable and order_product.product_variable.color  %}
                                    {{order_product.product_variable.color.name}}
                                    {% else %}
                                    ------------
                                    {% endif %}
                                </td>
                                <td>
                                    {{order_product.total_quantity}} ta
                                </td>
                                <td>
                                    {{order_product.unit_price}} uzs
                                </td>
                                <td>
                                    {% if order_product.delivery_cost %}
                                    {{order_product.delivery_cost}} uzs
                                    {% else %}
                                    ------------------
                                    {% endif %}
                                </td>
                                <td>
                                    {{order_product.total_price}} uzs
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
            <!-- card-body end// -->
        </div>


        {% if order.status == '4' %}
        <div class="card">
            <div class="card-header">
                <h6>Biriktirilgan to'lovlar</h6>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <td>To'lov ID</td>
                        <td>Haydovchi</td>
                        <td>Ajratilgan to'lov</td>
                        <td>Ajratilgan foiz</td>
                    </tr>
                    </thead>
                    <tbody>
                        {% for relation in order.cash_order_relation.all %}
                    <tr>
                        <td>{{relation.cash.id}}</td>
                        <td>{{relation.cash.from_user.full_name}}</td>
                        <td>{{relation.amount}}
                        </td>
                        <td>
                            <span class="badge {% if relation.order_payment_interest < 100 %}badge-soft-warning{% else %}badge-soft-success{% endif %}">{{relation.order_payment_interest_round}}% foiz shu to'lovdan ajratildi</span>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="2"><h6>Jami :</h6></td>
                        <td>
                            <h6>{{order.total_driver_payment}}</h6>
                        </td>

                    </tr>
                        <tr>
                            <td colspan="4">
                                <article class="float-end">
                                    <dl class="dlist">
                                        <dt>Seller kutish muddati:</dt>
                                        <dd>{{order.seller.seller_payment_delay_days}} kun</dd>
                                    </dl>
                                    <dl class="dlist">
                                        <dt>To'liq to'langan sana :</dt>
                                        {% if order.total_driver_payment_paid_at %}
                                        <dd>{{order.total_driver_payment_paid_at}}</dd>
                                        {% else %}
                                        <dd>-----------</dd>
                                        {% endif %}
                                    </dl>
                                    <dl class="dlist">
                                        <dt>Jami to'landi:</dt>
                                        <dd><b class="h5">{{order.total_driver_payment}} uzs</b></dd>
                                    </dl>
                                    <dl class="dlist">
                                        <dt class="text-muted">To'lov holati:</dt>
                                        <dd>
                                            {% if order.total_driver_payment_status == '1' %}
                                            <span class="badge rounded-pill alert-danger text-danger">{{order.get_total_driver_payment_status_display}}</span>
                                            {% elif order.total_driver_payment_status == '2' %}
                                            <span class="badge rounded-pill alert-warning text-warning">{{order.get_total_driver_payment_status_display}}</span>
                                            {% elif order.total_driver_payment_status == '3' %}
                                            <span class="badge rounded-pill alert-success text-success">{{order.get_total_driver_payment_status_display}}</span>
                                            {% endif %}
                                        </dd>
                                    </dl>
                                </article>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        {% endif %}

        <!-- card end// -->
    </form>
</section>
{% endblock %}
{% block header %}

<script src="{% static '' %}js/vue.js"></script>
<style>
    tr{
    border-bottom: 1px solid #ffffff6b;
    border-top: 1px solid #ffffff6b;
}
 li{
     color: black;
 }
.select2-container--open .select2-dropdown--below{
    color: black !important;
}
.custom_select .select2-container--default .select2-selection--single .select2-selection__rendered{
    color:#3BB77E !important;
 }
.select2-results__option .select2-results__option--highlighted .select2-results__options .select2-results{
    color:#3BB77E !important;
}

</style>
{% endblock %}
{% block footer %}
<script type="text/javascript">
        new Vue({
            el: "#app",
            delimiters: ["[[", "]]"],
            data: {
                checkbox: Number({{ is_bonus }}),
            }

        });

</script>
{% endblock %}