{% extends 'main/main.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
    <section class="content-main" id="app">
        <div class="content-header">
            <h3 class="content-title">Barcha buyurtmalar</h3>
            <div>
                <h5>Soni : {{ count }} ta</h5>
            </div>
        </div>
        <div class="card mb-4">
            <header class="card-header">
<!--                <h5 class="card-title">Qidiruv</h5>-->
                <div class="align-items-center">
                        <form method="get">
                            <div class="row">
                                <div class="col-3">
                                    <h6>Qidiruv</h6>
                                    <input type="number" class="form-control" placeholder="id, klient tel, barcode bo'yicha qidiruv" name="filter" {% if quary %}value="{{ quary }}" {% endif %}>
                                </div>
                                <div class="col-md-2">
                                    <h6>Holati</h6>
<!--                                    <select class="form-control" name="status">-->
<!--                                         <option value="None">-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</option>-->
<!--                                        {% for i in statuses %}-->
<!--                                        <option value="{{i.0}}" {% if request.GET.status is not None and request.GET.status == i.0 %}selected{% endif %}>{{i.1}}</option>-->
<!--                                        {% endfor %}-->
<!--                                    </select>-->
<!--                                    -->

                                    <select class="form-control" name="status">
                                         <option value="None">---------</option>

                                        <option value="0" {% if request.GET.status == '0' %}selected{% endif %}>O'chirib yuborilgan</option>

                                        <option value="2" {% if request.GET.status == '2' %}selected{% endif %}>Yuborishga tayyor</option>

                                        <option value="13" {% if request.GET.status == '13' %}selected{% endif %}>Filialda</option>

                                        <option value="3" {% if request.GET.status == '3' %}selected{% endif %}>Yetkazilmoqda</option>

                                        <option value="4" {% if request.GET.status == '4' %}selected{% endif %}>Sotildi</option>

                                        <option value="5" {% if request.GET.status == '5' %}selected{% endif %}>Bekor qilindi</option>

                                        <option value="6" {% if request.GET.status == '6' %}selected{% endif %}>Qayta qo'ng'iroq</option>

                                        <option value="14" {% if request.GET.status == '14' %}selected{% endif %}>Haydovchi filealga qaytardi</option>

                                        <option value="15" {% if request.GET.status == '15' %}selected{% endif %}>Seller filealdan qaytarib oldi</option>

                                    </select>



                                </div>
                                <div class="col-md-2">
                                    <h6>Viloyati</h6>
                                    <select class="form-control" name="region">
                                         <option value="None">---------</option>
                                        {% for i in regions %}
                                        <option value="{{i.id}}" {% if request.GET.region is not None and request.GET.region|add:"0" == i.id %}selected{% endif %}>{{i.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col-md-2">
                                    <h6>Qo'llash</h6>
                                    <button class="btn btn-brand" type="submit"><i class="material-icons md-search"></i>
                                    </button>
                                    {% if request.GET %}
                                        <a href="{% url 'order_list' %}" class="btn btn-danger"
                                           type="submit"><i class="material-icons md-search_off"></i></a>
                                    {% endif %}

                                </div>

                            </div>

                        </form>
                </div>
            </header>

            <div class="card-body">
                                <h5>Soni : {{ count }} ta</h5>

                    <div style="overflow-x:auto;">
                        <table class="table" id="dataTable">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>id</th>
                                <th>Holati</th>
                                 <th>Barcodi</th>

                                <th>Viloyati</th>
                                <th>Operator</th>
                                <th>Haydovchi</th>
                                <th>Mahsulot</th>
                                <th>Mijoz</th>
                                <th>Yaratilgan sana</th>
                                <th>O'zgartirilgan sana</th>
                                <th>Yetkazilmoqdaga o'tgan sana</th>
                                <th>#</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for o in order %}
                                <tr>
                                    <td>
                                        {% if o.driver %}
                                        <a href="{% url 'seller_app_order_details' o.id %}"
                                           class="btn  btn-brand rounded font-sm btn-sm"><i
                                                class="material-icons md-settings"></i></a>
                                        {% elif o.driver == None and o.status == '1' and o.defective_product_order is None  %}

                                        <a href="{% url 'seller_app_order_edit' o.id %}"
                                           class="btn  btn-success rounded font-sm btn-sm"><i
                                                class="material-icons  md-edit"></i></a>
                                        {% endif %}

                                        <a href="{% url 'seller_app_order_print' o.id %}"
                                           class="btn  btn-brand rounded font-sm btn-sm"><i
                                                class="material-icons md-print"></i></a>

                                    </td>

                                    <td>
                                        #{{ o.id }}
                                     {% if o.operator_order_id %}<br> <span class="badge badge-soft-success">operator-id: {{o.operator_order_id}}</span>{% endif %}

                                    </td>
                                    <td>


                                        <h6>
                                        <span class="badge" style="border:1px solid white"> {{ o.get_status_display }}</span>
                                        </h6>
                                        {% if o.status == '0' %}
                                       <span class="badge badge-soft-info"> O'chirdi : {{o.responsible.first_name}} {{o.responsible.last_name}}</span>
                                        <br>
                                        Sababi : {{o.delete_desc}}
                                        {% endif %}


                                        {% if o.defective_product_order is not None %}
                                         <span class="badge badge-soft-info">Nosoz alishtirishga ID : {{o.defective_product_order.id}} </span>
                                        {% endif %}

                                    </td>

                                    <td>

                                     {% if o.barcode %}{{o.barcode}}{% endif %}

                                    </td>


                                    <td>
                                        {% if o.customer_region %}
                                        {{ o.customer_region.name }}
                                        {% else %}
                                        ---------------
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if o.operator %}
                                        {{ o.operator.first_name }} {{ o.operator.last_name }}
                                        {% else %}
                                        ----------------
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if o.driver %}
                                        {{ o.driver.first_name }} {{ o.driver.last_name }} <br>
                                        <small class="text-sm badge badge-soft-primary">{{ o.driver.username }}</small>
                                        {% else %}
                                        ------------
                                        {% endif  %}
                                    </td>
                                    <td>

                                         {% for p in o.order_products %}
                                    <span class="badge badge-soft-success mb-1">{{p.product.name}}, {{p.total_quantity}}ta, {{p.total_price|format_money}} so'm</span> <br>
                                {% endfor %}
                                    <p>Jami : {{o.total_product_price|format_money}} uzs, {{o.total_product_quantity}} ta</p>

                                    <td>{{ o.customer_name }} <br>
                                        {{ o.customer_phone }}
                                        {% if o.customer_phone2 %} <br>
                                            {{ o.customer_phone2 }}
                                        {% endif %}

                                    </td>
                                    <td>{{ o.created_at|date:"Y-m-d H:i" }}</td>
                                    <td>{{ o.updated_at|date:"Y-m-d H:i" }}</td>


                                    <td>
                                                        {% if o.driver_shipping_start_date %}
                                                        {{ o.driver_shipping_start_date }}
                                                        {% else %}
                                                        --------------
                                                        {% endif  %}

                                                    </td>
                                    <td>
                                                      {% if o.status == '7' or o.status == '8' %}
                                        <form method="post" class="d-inline">
                                            {% csrf_token %}
                                            <input type="hidden" name="order_id" value="{{o.id}}">
                                            <input type="hidden" name="type" value="1">

                                        <button type="button" onclick="return Swal.fire({
                                                                              title: 'Mahsulot kutilmoqdaga olinsinmi',
                                                                              text:'Ombordan belgilangan mahsulotlar bekor qilinadi',
                                                                              showDenyButton: true,
                                                                              showCancelButton: false,
                                                                              confirmButtonText: 'Tasdiqlash',
                                                                              denyButtonText: `Qaytish`,
                                                                            }).then((result) => {
                                                                              /* Read more about isConfirmed, isDenied below */
                                                                              if (result.isConfirmed) {
                                                                                  form.submit();
                                                                                   }
                                                                            })" class="btn  btn-danger rounded font-sm btn-sm"><i
                                                class="material-icons md-cancel"></i> Kutilmoqdaga olish</button>

                                        </form>
                                        {% endif %}
                                    </td>
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                           <div class="row ">
 <div class="col-md-12 mr-auto mt-auto pagination justify-content-center">
                </div>
                <div class=" col-md-12 pagination justify-content-center mt-5">
                                                    <span class="step-links mr-auto ml-auto">
                                                        {% if page_obj.has_previous %}
                                                            <a href="?page=1{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" class="btn btn-sm btn-brand  "><<</a>
                                                            <a href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                                                               class="btn btn-sm btn-brand "><</a>
                                                        {% endif %}
                                                        <!--of {{ page_obj.paginator.num_pages }}.Page-->
                                                    <span class="h6 mr-10 ml-10"> {{ page_obj.number }}</span>
                                                        {% if page_obj.has_next %}
                                                            <a href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                                                               class="btn btn-sm btn-brand">></a>
                                                            <a href="?page={{ page_obj.paginator.num_pages }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                                                               class="btn btn-sm btn-brand ">>></a>
                                                        {% endif %}
                                                    </span>

                </div>
                                        <h6 class="text-center mt-2 text-muted">Jami sahifa soni : {{ page_obj.paginator.num_pages }} ta</h6>

            </div>
            </div>
            <!-- card-body end// -->
        </div>
    </section>
{% endblock %}
{% block header %}
        <link href="{% static '' %}css/table_custom.css" rel="stylesheet" type="text/css">

{% endblock %}